<% if !flash[:alert].present? %>
	window.location.href = "<%= request.referer %>";
  // toastr["success"]("Signed in successfully!")
<% else %> 
  // $('.login-errors').html("<%=flash[:alert]%>").css('color', 'red');
  toastr["error"]("<%=flash[:alert]%>")
<% end %>