<div class="blog-page">
	<div class="container">
		<% @blogs.each do |blog| %>
			<div class="blogPage-inner">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="blog-p-img"><%= image_tag(blog.avatar.url) %></div>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12">
						<div class="blog-p-text"><h3><a href="<%= blog_path(blog)%>"><%= blog.title %></a></h3></div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
