<div class="show-blog">
	<ul class="overlay-sm-links">
		<li><a href="<%= @social.fb_link%>" class="facebook-bg"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="<%= @social.instagram_link %>" class="instagram-bg"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		<li><a href="<%= @social.twitter_link %>" class="twitter-bg"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="<%= @social.pinterest_link %>" class="pinterest-bg"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<span><%= image_tag (@blog.avatar.url)%></span>
			</div>
			<div class="col-md-9 show-blog-text">
				<h1><%= @blog.title%></h1>
				<%= @blog.body.html_safe %>
			</div>
		</div>
	</div>
</div>
