<%
  if address.persisted?
    update_or_new = update_address_path(address)
  else
    update_or_new = add_new_address_path
  end
%>
<div role="tabpanel" class="tab-pane active" id="address">
	<div class="bac-heading">
		<h1>Add Address</h1>
	</div>
	<div class="udc-detail">
		<div class="db-form-container">
			<%= form_for address, remote: true, html: {class: "form-inline studentMember-form dashboard-form"}, :url => update_or_new do |f| %>
				<div class="form-group">
					<label>Title*</label>
					<%= f.select :title, options_for_select([["Select title", ""], "Mr", "Mrs"]), :class => 'form-control sm-form-fields' %>
				</div>
				<div class="form-group">
					<label>First Name*</label>
					<%= f.text_field :first_name, class: "form-control sm-form-fields", placeholder: "First Name"%>
				</div>
				<div class="form-group">
					<label>Last Name*</label>
					<%= f.text_field :last_name, class: "form-control sm-form-fields", placeholder: "Last Name"%>
				</div>
				<div class="form-group">
					<label>Address*</label>
					<%= f.text_field :postal_address, class: "form-control sm-form-fields", placeholder: "Address"%>
					</div>
				<div class="form-group">
					<label>City*</label>
					<%= f.text_field :city, class: "form-control sm-form-fields", placeholder: "City"%>
				</div>
				<div class="form-group">
					<label>Province/State*</label>
					<%= f.text_field :state, class: "form-control sm-form-fields", placeholder: "State"%>
				</div>
				<div class="form-group">
					<label>Country*</label>
					<%= f.select :country, options_for_select([["Select Country", ""], "Pakistan", "China", "Russia"]), :class => 'form-control sm-form-fields' %>
				</div>
				<div class="form-grou text-right">
					<button type="button" class="cancel-btn blue-btn user-dashboard-btn">Cancel</button>
					<%= f.submit 'Save', :class => 'blue-btn user-dashboard-btn' %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$( ".cancel-btn" ).click(function() {
		$('.address-block').show();
		$('.form').hide();
	});
</script>