<div class="col-md-3 col-sm-4 col-xs-12">
	<div class="userDashboard-list">
	  <ul class="nav nav-tabs" id="menu" role="tablist">
	    <li role="presentation" class="show_profile edit_profile dashboard-profile">
	    	<a href="<%= user_profile_path %>" role="tab" >
	    		<span>text</span>
	    		My Profile
	    	</a>
	    </li>
	    <li role="presentation" class="show_orders dashboard-order order_details">
	    	<a href="<%= show_orders_path %>" role="tab">
	    		<span>text</span>
	    		Orders
	    	</a>
	    </li>
	    <li role="presentation" class="dashboard-list user_lists edit_list">
	    	<a href="<%= user_lists_path %>" role="tab">
		    	<span>text</span>
		    	Lists
	    	</a>
	    </li>
	    <li role="presentation" class="dashboard-payment">
	    	<a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">
	    		<span>text</span>
	    		Payment
	    	</a>
	    </li>
	    <li role="presentation" class="dashboard-address address_book">
	    	<a href="<%= address_book_path %>"  role="tab" >
	    		<span>text</span>
	    		Addresses
	    	</a>
	    </li>
	    <li role="presentation" class="dashboard-review show_reviews">
	    	<a href="<%= reviews_path %>" role="tab">
	    		<span>text</span>
	    		Reviews
	    	</a>
	    </li>
	    <li role="presentation" class="dashboard-club">
	    	<a href="<%= student_club_path %>" aria-controls="studentclub">
	    		<span>text</span>
	    		Droppingo Student Club
	    	</a>
	    </li>
	  </ul>
	</div>
</div>

