<div class="db-form-container">
	<div class="sm-overlay-head">
		<h4>Edit Student Profile</h4>
	</div>
							
	<%= form_for :student_profile, remote: true, method: :put, html: {class: "form-inline studentMember-form dashboard-form"}, :url => student_membership_update_path do |f| %>
		<%= f.hidden_field :profile_id, :value => profile.id %>
		<div class="form-group">
			<label>NAME OF INSTITUTION</label>
			<%= f.text_field :institution_name, class: "form-control sm-form-fields", value: profile.institution_name %>
		</div>
		<div class="form-group">
			<label>CURRENT EDUCATION LEVEL</label>
			<%= f.select :current_educational_level, options_for_select([[profile.current_educational_level], "Bachelors Degree", "Masters", "PhD", "Others"]), selected: profile.current_educational_level, :class => 'form-control sm-form-fields' %>
		</div>
		<div class="form-group">
			<label>COURSE / AREA OF STUDY</label>
			<%= f.text_field :area_of_study, class: "form-control sm-form-fields", value: profile.area_of_study %>
		</div>
		<div class="form-group">
			<label>YEAR OF STUDY</label>
			<%= f.select :year_of_study, options_for_select([[profile.year_of_study], "Freshmen", "Sophomor", "Junior", "Senior"]), selected: profile.year_of_study,  :class => 'form-control sm-form-fields' %>
		</div>
		<div class="form-group">
			<label>COURSE LENGTH</label>
			<%= f.select :course_length, options_for_select([[profile.course_length], "1", "2", "3", "4"]), selected: profile.course_length, :class => 'form-control sm-form-fields' %>
		</div>
		<div class="form-group">
			<label>STUDENT ID / ROLL NO.</label>
			<%= f.text_field :student_id, class: "form-control sm-form-fields", value: profile.student_id %>
		</div>
		<div class="form-group">
			<label class="">MOBILE NO.</label>
			<%= f.text_field :mobile_no, class: "form-control sm-form-fields", value: profile.mobile_no %>
		</div>
		<div class="form-group">
			<div class="row studentClub-birthday-set">
				<div class="col-md-4">
					<label>Date of Birth</label>
				</div>
				<div class="col-md-8">
					<div class="form-group sm-birthday-set">
						<%= f.date_select(:date_of_birth, :order => [:month, :day, :year], :start_year=>1970, :end_year=>2010, :class => "form-control sm-form-fields", placeholder: "Birth Date")%>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group text-right">
			<%= f.hidden_field :redirect, value: true %>
			<button type="button" class="cancel-btn blue-btn user-dashboard-btn">Cancel</button>
			<%= f.submit 'UPDATE', :class => 'blue-btn user-dashboard-btn' %>
		</div>
	<%end%>
</div>

<script type="text/javascript">
	$( ".cancel-btn" ).click(function() {
		$('.student-club-block').show();
		$('.student-club-edit-form').hide();
	});
</script>