<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
							<div class="address-block">
								<div class="bac-heading">
									<h1>Addresses</h1>
									<h4>Manage Address Book</h4>
								</div>
								<div class="udc-detail add-new-address">
									<div class="row">
										<% if @addresses.present? %>
											<% @addresses.each do |address| %>
												<div class="col-md-4 col-sm-6 col-xs-12">
													<div class="newAdd-content">
														<div class="nac-address">
															<p><%= address.title %>. <%= address.first_name %> <%= address.last_name %></p>
															<p class="nac-address-p"><%= address.postal_address %></p>
															<p><%= address.city%></p>
															<p><%= address.state %></p>
															<p><%= address.country %></p>
															<div class="nac-address-btn">
																<%= link_to 'Edit', edit_address_path(address), remote: true, class: "edit-btn blue-btn user-dashboard-btn"%>
																<%= link_to 'Delete', destroy_address_path(address), method: :delete, remote: true, class: "edit-btn blue-btn user-dashboard-btn"%>
															</div>
														</div>
														<div class="nac-checkbox">
															<% if address.default_address %> 
																<input type="radio" name="default_address" class="css-checkbox" checked="true"/>
															<% else %>
																<input type="radio" name="default_address" class="css-checkbox"/>
															<% end %>
															<label for="radio5" id="<%=address.id%>" class="css-label radGroup2">Default delivery address</label>
														</div>
													</div>
												</div>
											<% end %>
										<% else %>
											<div class="col-md-12">
												<p class="udc-para">You do not have any addresses stored in your book. Please click on the "Add a New Address" button to update your address book.</p>
											</div>
										<% end %>
										<div class="col-md-4 col-sm-6 col-xs-12">
											<div class="newAdd-content addnewAdd-content">
												<a href="<%= new_address_path %>" data-remote="true">
													<span class="add-newAdd-span">+ Add a new address</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$( ".add-newAdd-span" ).click(function() {
		$('.address-block').hide();
		$('.form').show();
	});
	$( ".edit-btn" ).click(function() {
		$('.address-block').hide();
		$('.form').show();
	});
	$(".css-label").click(function(){
		var addr_id = $(this).attr("id");
		  $.ajax({
	    type:'PUT', 
	    url: '/set/default_address', 
	    data: $.param({ id: addr_id})
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
    $('li').removeClass('active');
    $(".<%= params[:action] %>").addClass("active");
	});
</script>