<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content profile-tab">
							<div class="udc-detail">
								<div class="db-form-container">
									<%= form_for @user, remote: true,  method: :put, html: {class: "studentMember-form dashboard-form dashboard-profile-form"}, :url => "/users" do |f| %>
										<div class="bac-heading">
											<h4>Details</h4>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>Title*</label>
													<%= f.select :title, options_for_select([["Select title", ""], "Mr", "Mrs"], selected: current_user.title), :class => 'form-control sm-form-fields' %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>First Name</label>
													<%= f.text_field :first_name, class: "form-control sm-form-fields" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>Last Name</label>
													<%= f.text_field :last_name, class: "form-control sm-form-fields" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>Mobile No#</label>
													<%= f.text_field :mobile_no, class: "form-control sm-form-fields", placeholder: "Mobile No."%>
												</div>
											</div>
											<div class="col-md-7 col-sm-7 col-xs-12">
												<div class="form-grou text-right">
													<%= f.submit 'UPDATE DETAILS', :class => 'blue-btn user-dashboard-btn update-btn-profile' %>
												</div>
											</div>
										</div>
									<% end %>
									<%= form_for @user, remote: true,  method: :put, html: {class: "studentMember-form dashboard-form dashboard-profile-form"}, :url => "/users" do |f| %>
										<div class="bac-heading">
											<h4>Email Address</h4>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>New Email Address</label>
													<%= f.email_field :email, class: "form-control sm-form-fields", placeholder: "Email"%>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>Confirm Email Address</label>
													<%= f.email_field :email_confirmation, class: "form-control sm-form-fields", placeholder: "Confirm Email Address"%>
												</div>
											</div>
											<div class="col-md-7 col-sm-7 col-xs-12">
												<div class="form-grou text-right">
													<%= f.submit 'UPDATE EMAIL', :class => 'blue-btn user-dashboard-btn update-btn-profile' %>
												</div>
											</div>
										</div>
									<% end %>
									<%= form_for @user, remote: true,  method: :put, html: {class: "studentMember-form dashboard-form dashboard-profile-form"}, :url => "/users" do |f| %>
										<div class="bac-heading">
											<h4>My Password</h4>
											<p class="udc-para">You can change your password, by confirming you existing password below and then providing us with your new one.</p>
											<p class="udc-para">Passwords must be at least 8 characters in length. It is recommended that you use a mixture of lowerand upper case letters, numbers and special characters</p>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>Current Password</label>
													<%= f.password_field :current_password, class: "form-control sm-form-fields" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>New Password</label>
													<%= f.password_field :password, class: "form-control sm-form-fields" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5 col-sm-5">
												<div class="form-group">
													<label>Confirm New Password</label>
													<%= f.password_field :password_confirmation, class: "form-control sm-form-fields" %>
												</div>
											</div>
											<div class="col-md-7 col-sm-7 col-xs-12">
												<div class="form-grou text-right">
													<%= f.submit 'UPDATE PASSWORD', :class => 'blue-btn user-dashboard-btn update-btn-profile' %>
												</div>
											</div>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    $('li').removeClass('active');
    $(".<%= params[:action] %>").addClass("active");
	});
</script>