<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane list-tab active" id="list">
								<div class="bac-heading">
									<h1>Lists</h1>
									<h4><%= @list.name %></h4>
									<span class="createPost-span list-head-author">by <%= @list.user.first_name %> <%= @list.user.last_name %></span>
								</div>
								<div class="udc-detail list-view-2">
									<div class="list-view-top">
										<div class="flexslider">
										  <ul class="slides list-view">
										  	<% @list.products.each do |product|%>
											  	<li>
														<div class="list-view-img">
															<%= image_tag(product.avatar.url, alt: "IMG")%>
														</div>
													</li>
												<% end %>
										  </ul>
										</div>
									</div>
									<div class="list-view-bottom">
										<ul>
											<% @list.products.each do |product|%>
												<li>
													<div class="list-view-detail">
														<div class="list-view-img">
															<%= image_tag(product.avatar.url, alt: "IMG")%>
														</div>
														<div class="list-view-text">
															<div class="lvt-names">
																<label><%= product.title %>,</label>
																<span class="createPost-span list-head-author"><%= product.author %></span>
																<%= link_to 'remove', remove_from_list_path(product, list: @list.id), class: "remove-product-btn d-newlist-btn", remote: true, method: :delete %>
															</div>
															<span class="d-newlist-btn list-view-price">Rs. <%= product.price %></span>
															<%= link_to 'Move to Basket', add_to_cart_cart_path(product), :method => :put, remote: true, class: "d-newlist-btn move-basket" %>
														</div>
													</div>
												</li>
											<% end %>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.flexslider').flexslider({
	    animation: "slide",
	    itemWidth: 210,
			maxItems: 5,
			slideshow: false
	  });
	});

	$(document).ready(function(){
    $('li').removeClass('active');
    $(".<%= params[:action] %>").addClass("active");
	});

	// $(document).ready(function() {
	//   return $(".remove-product-btn").on("ajax:success", function(e, data, status, xhr) {
	//   	console.log(xhr.responseText);
	//     // return $("#new_article").append(xhr.responseText);
	//   }).on("ajax:error", function(e, xhr, status, error) {
	//     // return $("#new_article").append("<p>ERROR</p>");
	//   });
	// });
</script>