<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
							<div class="udc-detail">
								<div class="bac-heading">
									<h1>ORDER DETAILS</h1>
								</div>
								<div class="edit-orders-form"></div>
								<div class="udc-detail dashboard-order-detail">
									<div class="table-responsive">
										<table class="table table-striped orders-table">
											<thead>
												<tr>
													<th>Product No.</th>
													<th>Title</th>
													<th>Price</th>
													<th>Quantity</th>
													<th>Sub Total</th>
												</tr>
											</thead>
											<tbody>
												<% @order.products.uniq.each do |product| %>
													<tr>
														<td><%= product.id %></td>
														<td><%= product.title %></td>
														<td><%= product.price %></td>
														<td><%= @counts[product.id] %></td>
														<td><%= product.price * @counts[product.id] %></td>
													</tr>
												<% end %>
											</tbody>
										</table>
									</div>
									<!-- <a href="#" class="d-newlist-btn view-all-btn">View All</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// $( ".edit-profile-btn" ).click(function() {
	// 	$('.view-profile-block').hide();
	// 	$('.edit-profile-form').show();
	// });
	$(document).ready(function(){
    $('li').removeClass('active');
    $(".<%= params[:action] %>").addClass("active");
	});
</script>

