<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
							<div class="bac-heading">
								<h1>MY ORDERS</h1>
								<h4>Recent Orders</h4>
							</div>
							<div class="edit-orders-form"></div>
							<div class="udc-detail dashboard-order-detail">
								<div class="table-responsive">
									<table class="table table-striped orders-table">
										<thead>
											<tr>
												<th>Order No.</th>
												<th>Order Date</th>
												<th>Status</th>
												<th>Date Shipped</th>
												<th>Details</th>
											</tr>
										</thead>
										<tbody>
											<% @orders.each do |order| %>
												<tr>
													<td><%= order.id %></td>
													<td><%= order.created_at.strftime("%Y-%m-%d") %></td>
													<td><%= order.status %></td>
													<td><%= order.shipping_date.strftime("%Y-%m-%d") if order.shipping_date.present? %></td>
													<td><a href="<%= order_details_path(order) %>" class="d-newlist-btn">View Order</a></td>
												</tr>
											<% end %>
										</tbody>
									</table>
								</div>
								<% if @orders.count == current_user.orders.count %>
									<a href="<%= show_orders_path(page: 'less') %>" class="d-newlist-btn view-all-btn">View Less</a>
								<% else %>
									<a href="<%= show_orders_path(page: 'all') %>" class="d-newlist-btn view-all-btn">View All</a>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// $( ".edit-profile-btn" ).click(function() {
	// 	$('.view-profile-block').hide();
	// 	$('.edit-profile-form').show();
	// });
	$(document).ready(function(){
    $('li').removeClass('active');
    $(".<%= params[:action] %>").addClass("active");
	});
</script>

