<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">							
							<div class="bac-heading">
								<h1>My Profile</h1>
							</div>
							<div class="view-profile-block udc-detail">
								<p class="udc-para">Here's your personal information which can be edited at any time.</p>
								<div class="user-profile ud-profile-view">
									<div class="row">
										<div class="col-md-12">
											<%= form_tag do %>
												<p>
													<%= label_tag 'Title: ' %>
													<%= label_tag @user.title %>
												</p>
												<p>
													<%= label_tag 'First Name: ' %>
													<%= label_tag @user.first_name %>
												</p>
												<p>
													<%= label_tag 'Last Name: ' %>
													<%= label_tag @user.last_name %>
												</p>
												<p>
													<%= label_tag 'Email: ' %>
													<%= label_tag @user.email %>
												</p>
												<p>
													<%= label_tag 'Mobile No.: ' %>
													<%= label_tag @user.mobile_no %>
												</p>
											<% end %>
											<%= link_to 'Edit Student Profile', user_edit_profile_path, class: 'blue-btn user-dashboard-btn edit-profile-btn'%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    $('li').removeClass('active');
    $(".<%= params[:action] %>").addClass("active");
	});
</script>

