<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
							<div class="bac-heading">
								<h1>REVIEWS</h1>
							</div>
							<div class="udc-detail dashboard-reviews-detail">
								<p class="udc-para">Why not write reviews for books by clicking on “write a review” at the bottom of each product page. It’s a great way to share your opinion about books you’ve read and help others decide if the item is right for them. </p>
								<% if @reviews.present? %>
									<div class="mustRead-block">
										<% @reviews.each do |review| %>
											<div class="proView-viewers">
												<span class="viewer-star">
													<div id="users-rating-<%=review.id%>"></div>
												</span>
												<h3><%= review.product.title %><span class="viewer-review">by: <%= review.product.author %></span></h3>
											</div>

											<p class="udc-para"><%= review.body %></p>
											<p class="udc-para mustRead-date"><%= review.created_at.strftime("%b %d, %Y") %> / Comment (0)</p>
											<ul class="overlay-sm-links">
												<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
												<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="<%= SocialShare.first.youtube_link %>" class="pinterest-bg"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											</ul>
										<% end %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('li').removeClass('active');
	  $(".<%= params[:action] %>").addClass("active");
	});

	<% @reviews.each do |review|%>
		$('#users-rating-<%= review.id %>').raty({
			readOnly: true,
			score: '<%= review.rating.to_i %>',
			starOff : '../assets/star-off.png',
			starOn  : '../assets/star-on.png'
		});
	<% end %>
</script>