<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
							<div class="bac-heading">
									<h1>DROPPINGO STUDENT CLUB <span class="dashboard-beta">Beta</span></h1>
								</div>
								<div class="udc-detail">
									<div class="student-club-block">
										<% if @profile.present? %>
											<%= form_tag do %>
												<p>
													<%= label_tag "Instituition Name: " %>
													<%= label_tag @profile.institution_name %>
												</p>
												<p>
													<%= label_tag "Current Educational Level: " %>
													<%= label_tag @profile.current_educational_level %>
												</p>
												<p>
													<%= label_tag "Current Area of study: " %>
													<%= label_tag @profile.area_of_study %>
												</p>
												<p>
													<%= label_tag "Year of study: " %>
													<%= label_tag @profile.year_of_study %>
												</p>
												<p>
													<%= label_tag "Course Length: " %>
													<%= label_tag @profile.course_length %>
												</p>
												<p>
													<%= label_tag 'Gender: ' %>
													<%= label_tag @profile.gender %>
												</p>
												<p>
													<%= label_tag 'Mobile #: ' %>
													<%= label_tag @profile.mobile_no %>
												</p>
												<p>
													<%= label_tag 'Date of Birth: ' %>
													<%= label_tag @profile.date_of_birth %>
												</p>
											<% end %>
											<%= link_to 'Edit Student Profile', edit_student_club_path(@profile.id), class: 'edit-student-club blue-btn user-dashboard-btn', remote: true %>
										</div>
										<div class="student-club-edit-form"></div>
									<% else %>
								<!-- </div> -->
										<p class="udc-para">Droppingo Student Club is Pakistan’s Largest Student Platform for verified students and give students exclusive access to discounts, deals and offers, along with opportunities to intern, work and other cool stuff!</p>
										<p class="udc-para">If you’re a student and already a Droppingo Member you can fill out the form below to become a Student Club member to enjoy exclusive access to awesome student stuff.</p>
										<div class="db-form-container">
											<%= form_for :student_profile, remote: true, method: :post, html: {class: "form-inline studentMember-form dashboard-form"}, :url => student_membership_step_one_path do |f| %>
												<%= f.hidden_field :name, value: current_user.first_name+ " " +current_user.last_name %>
												<%= f.hidden_field :email, value: current_user.email %>
												<div class="form-group">
													<label>NAME OF INSTITUTION</label>
													<%= f.text_field :institution_name, class: "form-control sm-form-fields" %>
												</div>
												<div class="form-group">
													<label>CURRENT EDUCATION LEVEL</label>
													<%= f.select :current_educational_level, options_for_select([["Select Current Education Level", ""], "Bachelors Degree", "Masters", "PhD", "Others"]), :class => 'form-control sm-form-fields' %>
												</div>
												<div class="form-group">
													<label>COURSE / AREA OF STUDY</label>
													<%= f.text_field :area_of_study, class: "form-control sm-form-fields" %>
												</div>
												<div class="form-group">
													<label>YEAR OF STUDY</label>
													<%= f.select :year_of_study, options_for_select([["Year of study", ""], "Freshmen", "Sophomor", "Junior", "Senior"]),  :class => 'form-control sm-form-fields' %>
												</div>
												<div class="form-group">
													<label>COURSE LENGTH</label>
													<%= f.select :course_length, options_for_select([["Length of course"], "1", "2", "3", "4"]), :class => 'form-control sm-form-fields' %>
												</div>
												<div class="form-group">
													<label>STUDENT ID / ROLL NO.</label>
													<%= f.text_field :student_id, class: "form-control sm-form-fields" %>
												</div>
												<div class="form-group">
													<label class="">MOBILE NO.</label>
													<%= f.text_field :mobile_no, class: "form-control sm-form-fields" %>
												</div>
												<div class="form-group">
													<div class="row studentClub-birthday-set">
														<div class="col-md-4">
															<label>Date of Birth</label>
														</div>
														<div class="col-md-8">
															<div class="form-group sm-birthday-set">
																<%= f.date_select(:date_of_birth, :order => [:month, :day, :year], :start_year=>1970, :end_year=>2010, :class => "form-control sm-form-fields", placeholder: "Birth Date")%>
															</div>
														</div>
													</div>
												</div>
												<div class="form-grou text-right">
													<%= f.hidden_field :redirect, value: true %>
													<%= f.submit 'SUBMIT', :class => 'blue-btn user-dashboard-btn' %>
												</div>
											<%end%>
										</div>
									<% end %>
					    	</div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$( ".edit-student-club" ).click(function() {
		$('.student-club-block').hide();
		$('.student-club-edit-form').show();
	});
</script>