<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
					    <div role="tabpanel" class="tab-pane profile-tab" id="profile"></div>
					    <div role="tabpanel" class="tab-pane order-tab" id="order">...</div>
					    <div role="tabpanel" class="tab-pane payment-tab" id="payment">...</div>
					    <div role="tabpanel" class="tab-pane address-tab" id="address">
					    	<!-- <div class="address-block">
					    		<div class="bac-heading">
										<h1>Addresses</h1>
										<h4>Manage Address Book</h4>
									</div>
									<div class="udc-detail add-new-address">
										<p class="udc-para">You do not have any addresses stored in your book. Please click on the "Add a New Address" button to update your address book.</p>
										<div class="row">
											<% if @addresses.present? %>
												<% @addresses.each do |address| %>
													<div class="col-md-4 col-sm-6 col-xs-12">
														<div class="newAdd-content">
															<div class="nac-address">
																<p><%= address.title %>. <%= address.first_name %> <%= address.last_name %></p>
																<p><%= address.postal_address %></p>
																<p><%= address.city%></p>
																<p><%= address.state %></p>
																<p><%= address.country %></p>
																<div class="nac-address-btn">
																	<%= link_to 'Edit', edit_address_path(address), remote: true, class: "edit-btn blue-btn user-dashboard-btn"%>
																	<%= link_to 'Delete', destroy_address_path(address), method: :delete, remote: true, class: "edit-btn blue-btn user-dashboard-btn"%>
																</div>
															</div>
															<div class="nac-checkbox">
																<%#= radio_button :default_address, '',:id => "default_address#{address.id}", class: "css-checkbox" %> 
																<% if address.default_address %> 
																	<input type="radio" name="default_address" class="css-checkbox" checked="true"/>
																<% else %>
																	<input type="radio" name="default_address" class="css-checkbox"/>
																<% end %>
																<label for="radio5" id="<%=address.id%>" class="css-label radGroup2">Default delivery address</label>
															</div>
														</div>
													</div>
												<% end %>
											<% end %>
											<div class="col-md-4 col-sm-6 col-xs-12">
												<div class="newAdd-content addnewAdd-content">
													<a href="<%= new_address_path %>" data-remote="true">
														<span class="add-newAdd-span">+ Add a new address</span>
													</a>
												</div>
											</div>
										</div>
						    	</div>
						    </div>
								<div class="form"></div> -->
								<div class="profile"></div>
					    </div>
					    <div role="tabpanel" class="tab-pane review-tab" id="review">...</div>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="#" class="facebook-bg"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#" class="instagram-bg"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="#" class="twitter-bg"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="#" class="pinterest-bg"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- /.banner-after-content -->
</div>

<script type="text/javascript">
	
</script>