<div class="main-content user-dashboard">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<%= render partial: "sidebar_menu" %>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right userDashboard-content">
						<div class="tab-content">
							<div class="edit-list-products"></div> 
							<div class="list-block">
					    	<div class="bac-heading">
									<h1>Lists <a href="#" class="d-newlist-btn" data-toggle="modal" data-target="#createListModal">Create a new list</a></h1>
								</div>
								<div class="udc-detail list-view-1">
									<% if @lists.present? %>
										<ul class="list-view">
											<% @lists.each do |list| %>
												<li>
													<div class="list-view-detail">
														<div class="list-view-img">
															<% if list.products.present? %>
																<a href="<%= edit_list_path(list) %>" class="edit-list-button" >
																	<%= image_tag(list.products.first.avatar.url, alt:"IMG")%>
																</a>
															<% end %>
														</div>
														<div class="list-view-text">
															<a href="<%= edit_list_path(list) %>" class="edit-list-button" >
																<label><%= list.name%></label>
															</a>
															<span class="createPost-span"><%= list.products.count %> books, created 1 day ago</span>
														</div>
													</div>
												</li>
											<% end %>
										</ul>
									<% else %>
										<p>Sorry you dont have any list available. </p>
									<% end %>
					    	</div>
					    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal sm-modal dashBoard-list-modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content sm-overlay-detail">
      <div class="modal-header sm-overlay-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New List</h4>
      </div>
      <div class="modal-body sm-overlay-body">
      	<%= form_for :wish_list, remote: true, html: {class: "create-list-form form-inline studentMember-form dashboard-form"}, :url => create_list_path do |f| %>
      		<div class="form-group">
		        <%= f.text_field :name, class: 'form-control sm-form-fields', placeholder: 'Name for list' %>
		      </div>
	        <%= f.submit 'Save', class: 'btn btn-primary sm-account-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    $('li').removeClass('active');
    $(".<%= params[:action] %>").addClass("active");
	});

	// $('.create-list-form').bind('ajax:success', function(e, data, status, xhr){
 //  	$("#createListModal").modal('hide');
	//   toastr["success"]("<%=flash[:notice]%>")
 //  })
 //  	.bind("ajax:error",function(e, xhr, status, error){
 //    toastr["error"]("<%=flash[:alert]%>")
 //  });

 // $(document).ready(function() {
	//   return $(".create-list-form").on("ajax:success", function(e, data, status, xhr) {
	//     // return $(".create-list-form").append(xhr.responseText);
	//     $("#createListModal").modal('hide');
	//   	toastr["success"]("<%=flash[:notice]%>")
	//   }).on("ajax:error", function(e, xhr, status, error) {
	//     // return $(".create-list-form").append("<p>ERROR</p>");
	//     toastr["error"]("<%=flash[:alert]%>")
	//   });
	// });
</script>