<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="sm-overlay-detail forgotPass-detail">
        <div class="sm-overlay-head">
          <h4>Change your password</h4>
        </div>
        <div class="sm-overlay-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "studentMember-form" }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.label :password, "New password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control sm-form-fields" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password" %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control sm-form-fields" %>
            </div>

            <div class="actions">
              <%= f.submit "Change my password", class: "btn sm-account-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>  

