<% if !resource.errors.present? %>
	window.location.href = "/";
<% else %> 
	var output = "";
  <% resource.errors.messages.each do |key,val| %>
	  var key = '<%= key %>'
		var val = '<%= val %>'
		output = "<li> <%= key %> <b>-</b> <%= val[0] %>" + output
  <% end %>	
  toastr["error"](output)
<% end %>