<div class="main-content user-update-forms">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-12">
						<div class="sm-overlay-detail">
							<div class="sm-overlay-head">
								<h4>Update User</h4>
							</div>
							<%= form_for @user, remote: true,  method: :put, html: {class: "studentMember-form"}, :url => "/users" do |f| %>
								<div class="row">
									<div class="col-md-6">	
										<div class="form-group">
											<%= f.text_field :first_name, class: "form-control sm-form-fields", placeholder: "First Name"%>
										</div>
									</div>
									<div class="col-md-6">	
										<div class="form-group">
											<%= f.text_field :last_name, class: "form-control sm-form-fields", placeholder: "Last Name"%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">	
										<div class="form-group">
											<%= f.email_field :email, class: "form-control sm-form-fields", placeholder: "Email"%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">	
										<div class="form-group">	
											<%= f.password_field :current_password, class: "form-control sm-form-fields", placeholder: "Current Password"%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">	
										<div class="form-group">	
											<%= f.password_field :password, class: "form-control sm-form-fields", placeholder: "New Password"%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">	
										<div class="form-group">	
											<%= f.password_field :password_confirmation, class: "form-control sm-form-fields", placeholder: "Password Confirmation"%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<%= f.submit 'Update Account', :class => 'btn sm-account-btn' %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>