<div class="main-content landing-page">
	<!-- /.banner-books -->
	<div class="books-carousel">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner" role="listbox">
		  	<% i = 0 %>
		  	<% Banner.last(3).each do |banner|%>
			    <% if i == 0 %>
				    <div class="item active">
				      <%= image_tag(banner.avatar.url, alt:'IMG')%>
				      <!-- <img src="assets/books.jpg" alt="IMG"> -->
				    </div>
				  <% else %>
				  	<div class="item">
				      <%= image_tag(banner.avatar.url, alt:'IMG')%>
				    </div>
				  <% end %>
				  <% i = i + 1 %>
			  <% end %>
		  </div>
			<ul class="overlay-sm-links">
				<li><a href="<%= @social.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="<%= @social.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="<%= @social.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="<%= @social.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<!-- /.banner-books -->
	</div>
	<!-- /.features-block -->
	<div class="common-block features-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="blocks-heading">
						<h5>FEATURED BOOKS</h5>
					</div>
				</div>
			</div>
			<div class="flexslider">
			  <ul class="slides">
			    <% @featured_products.each do |product| %>
			    	<li>
				      <div class="col-md-12">
								<div class="commonblock-container features-container">
									<a href="<%= product_path(product) %>">
										<div class="commonblock-img features-img">
											<%= image_tag(product.avatar.url, alt: "IMG")%>
										</div>
										<div class="commonblock-detail features-detail">
											<p><%= product.title %></p>
											<span class="price-books">Rs<%= product.price %></span>
										</div>
									</a>
								</div>
							</div>
			    	</li>
					<% end %>
			  </ul>
			</div>
		</div>
	</div>
	<!-- /.features-block -->
	<!-- /.subscribe-block -->
	<!-- <div class="common-block subscribe-block">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-xs-12">
					<div class="commonblock-detail subscribe-detail">
						<h1>Subscribe Now <span>For coupons, newsletter, and more!</span></h1>
						<form class="form subscribe-form">
							<div class="row">
								<div class="col-md-7 col-sm-7 col-xs-12">
								  <div class="form-inner">
								    <input type="email" class="form-control form-field" placeholder="Enter your email address">
								    <span class="email-envelope"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
								  </div>
								</div>
								<div class="col-md-5 col-sm-5 col-xs-12">
						  		<button type="submit" class="blue-btn">Sign up <span><img src="assets/envelope.png" alt="IMG" width="24"></span></button>
						  	</div>
						  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- /.subscribe-block -->
	<!-- /.academic-block -->
	<div class="common-block academic-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="blocks-heading">
						<h5>Academic & Textbooks</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<% @academic_text_products.each do |product| %>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="commonblock-container academic-container">
							<a href="<%= product_path(product) %>">
								<div class="commonblock-img academic-img">
									<%= image_tag(product.avatar.url, alt:"IMG") %>
								</div>
								<div class="commonblock-detail academic-detail">
									<p><%= product.title %></p>
									<span class="price-books">Rs<%= product.price %></span>
								</div>
							</a>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<!-- /.academic-block -->
	<!-- /.competitive-block -->
	<div class="common-block features-block competitive-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="blocks-heading">
						<h5>Competitive Exam BOOKS</h5>
					</div>
				</div>
			</div>
			<div class="flexslider">
			  <ul class="slides">
			  	<% @competative_exam_products.each_slice(2) do |products| %>
				    <li>
				    	<% products.each do |product| %>
					      <div class="col-md-12">
									<div class="commonblock-container features-container">
										<a href="<%= product_path(product) %>">
											<div class="commonblock-img features-img">
												<%= image_tag(product.avatar.url, alt:"IMG") %>
											</div>
											<div class="commonblock-detail features-detail">
												<p><%= product.title %></p>
												<span class="price-books">Rs<%= product.price %></span>
											</div>
										</a>
									</div>
								</div>
							<% end %>
				    </li>
				  <% end %>
			  </ul>
			</div>
		</div>
	</div>
	<!-- /.competitive-block -->
	<!-- /.banner-study -->
	<div class="banner-site banner-study">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
					<div class="study-overlay">
						<h1>STUDY & LIVE IN <span>EUROPE</span></h1>
						<div class="row">
							<div class="col-md-11 text-right">
								<a href="<%= study_abroad_path %>" class="red-btn">Apply Today <span><i class="fa fa-plane" aria-hidden="true"></i></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-study -->
	<!-- /.blog-block -->
	<div class="common-block blog-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="blocks-heading">
						<h5>Blog</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<% @featured_blogs.each do |blog| %>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="commonblock-container blog-container">
							<div class="commonblock-img blog-img">
								<%= image_tag(blog.avatar.url, :alt => "IMG")%>
							</div>
							<div class="commonblock-detail blog-detail">
								<p><%= link_to blog.title, blog_path(blog) %></p>
								<span class="date-blog"><%= blog.created_at.strftime("On %B %d, %Y") %></span>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<!-- /.blog-block -->
</div>



<script type="text/javascript">
	$(document).ready(function(){
	  $('.flexslider').flexslider({
	    animation: "slide",
	    itemWidth: 230,
	    minItems: 2,
			maxItems: 5,
			slideshow: false
	  });
	});
</script>
	