<div class="advertise-detail">
	<h1>droppingo</h1>
	<p>We are a national student verification and marketing network.</p>
	<p>Our technology connects students with leading brands to drive student sales. We offer complete student marketing services including digital advertising with display advertising on popular student websites, social media, email marketing, targeted print media marketing, student reps & ambassador with bespoke on campus marketing (including experiential campaigns, posters and flyers).</p>
	<p>Get in touch to see how we can help you connect with more student customers.</p>
	<a href="<%= advertise_path %>" class="advertise-btn">GET IN TOUCH</a>
</div>