
	<div class="advertise-form-overlay">
		<div class="advertise-detail">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="advertise-form-heading">
							<h3>Droppingo partner enquiry</h3>
						</div>
						<%= form_for Advertise.new, remote: true, html: {class: "bac-publish-form", name: "advertiseRequestForm"}, :url => advertise_enquiry_create_path, method: :post do |f| %>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Name *</label>
										<%= f.text_field :name, id: "name", class: "form-control publish-fields" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Email Address *</label>
										<%= f.email_field :email, id: "email", class: "form-control publish-fields"%>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Company *</label>
										<%= f.text_field :company, id: "company", class: "form-control publish-fields"%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Contact No *</label>
										<%= f.number_field :contact_no, id: "contact_no", class: "form-control publish-fields" %>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Message *</label>
										<%= f.text_area :message, id: "message", class: "form-control publish-fields" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<%= f.submit 'GET IN TOUCH', class:"advertise-btn" %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="overlay-message">
	    	<div class="overlay-msg-inner">
	      	<span><i class="fa fa-check" aria-hidden="true"></i></span>
	      	<h1>Thank You!</h1>
	      	<p>Your message has been received, we'll be in touch very soon</p>
	     	</div>
	    </div>
		</div>
	</div>