<% if @advertise.save %>
	$('.overlay-message').css('display', 'block');
  $('.form-control').val("");
  $(".error").removeClass("error")
<% else %>
	var error = "Required Fields: "
	<% @advertise.errors.each do |key,value| %>
		$( '#'+"<%=key%>" ).addClass( "error" );
		error = error + "<%= key %>" + ", "
	<% end %>
	toastr["error"](error)
<% end %>