<div class="advertise-page">
	<div class="container">
		<div class="advertise-container">
			<% if @main_view.present? %>
				<%= render partial: '/requests/advertise_info'%>
			<% else %>
				<%= render partial: '/requests/advertise_form'%>
			<% end %>
		</div>
	</div>
</div>