<div class="main-content requestbook-content">
	<!-- /.banner-requestbook -->
	<div class="banner-site banner-requestbook">
		<div class="br-overlay-1">
			<div class="br-overlay-inner">
				<h1>DROPPINGO</h1>
				<a href="#">Request a book</a>
			</div>
		</div>
		<div class="br-overlay-2">
			<div class="br-overlay-inner">
				<p>CAN'T FIND A BOOK YOU NEED?</p>
				<p>LET US DO THE SEARCHING FOR YOU</p>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- /.banner-requestbook -->
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-left requestbook-bac-left">
						<div class="bac-left-img">
							<%= image_tag("multi-books.png", alt: "IMG")%>
						</div>
						<div class="bac-right-detail">
							<h1>REQUEST A BOOK FORM</h1>
							<%= form_for BookRequest.new, remote: true, html: {class: "bac-publish-form", name: "bookRequestForm"}, :url => book_requests_path, method: :post do |f| %>
								<div id="error-div"></div>
	    					<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<%= f.text_field :book_title, id: "book_title", class: "form-control publish-fields", placeholder: "book title" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<%= f.text_field :author, id: "author", class: "form-control publish-fields", placeholder: "author" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<%= f.text_field :full_name, id: "full_name", class: "form-control publish-fields", placeholder: "Full Name" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<div class="email_error"></div>
											<%= f.text_field :email, id: "email", class: "form-control publish-fields", placeholder: "Email ID" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<%= f.text_field :mobile_no, id: "mobile_no", class: "form-control publish-fields", placeholder: "Mobile No" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<%= f.text_field :comments, id: "comments", class: "form-control publish-fields", placeholder: "Comments" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<%= f.submit 'Submit', :class => 'publish-btn' %>
									</div>
								</div>
	    				<% end %>
						</div>
						<div class="overlay-message">
				    	<div class="overlay-msg-inner">
				      	<span><i class="fa fa-check" aria-hidden="true"></i></span>
				      	<h1>Thank You!</h1>
				      	<p>Your message has been received, we'll be in touch very soon</p>
				     	</div>
				    </div>
					</div>
				</div>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-right requestbook-bac-right">
						<div class="bac-heading">
							<h1>Request a Book</h1>
						</div>
						<div class="bac-detail">
							<p>Can't find a book you're looking for? Let us know and we'll try and buy it for you.</p>
							<p>It can take a few days to purchase and make the book available.</p>
							<label>How Do I Make Requests?</label>
							<p>There are many ways to request books from us. The simplest and quickest method is by filling and submitting the Request a book form on the left. Alternatively, we can take your requests via <a href="#">email or phone</a>.</p>
							<ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>

<script type="text/javascript">
// $.ajax({
//     url:  "/book_requests",
//     type: "POST",
//     dataType: "json",
//     success: function(data) { 
//        var r = $.parseJSON(data);
//        console.log(r)//This is where Your users are
//     }
// });
// $(document).ready(function(){
// 	 $(document).ajaxSuccess( function(data) {
// 	 		console.log(data);
// 	 		alert(data);
// 	 })
//    $(document).ajaxError( function(data) {alert(data);} )
//     $('.publish-btn').closest('form').on('ajax:success', function() {
//       console.log('ajax:success!');
//     });

//     $('.publish-btn').bind("ajax:success", function() {
//     console.log( 'test' );
//     });
// });
</script>


