

		<div class="main-content bulkOrder-content boc-main">
			<!-- /.banner-bulkOrder -->
			<div class="banner-site banner-bulkOrder">
				<div class="container">
				</div>
				<ul class="overlay-sm-links">
					<li><a href="<%= @social.fb_link%>" class="facebook-bg"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="<%= @social.instagram_link %>" class="instagram-bg"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="<%= @social.twitter_link %>" class="twitter-bg"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="<%= @social.pinterest_link %>" class="pinterest-bg"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<!-- /.banner-bulkOrder -->
			<!-- /.banner-after-content -->
			<div class="banner-after-content">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="bac-left bac-left-common order-quote">
								<div class="order-quote-detail">
									<label>Requesting a Bulk Order quote is easy</label>
									<ul>
										<li>To request a bulk order quote, please complete the form to the right.</li>
										<li>Droppingo can offer Discounts on orders of 50 items or more.</li>
										<li>Depending on queries load we will respond within 1 Business Day from receipt of your request. (Response time may increase or decrease depending on queries load and your request).</li>
										<li>Please Note: Bulk orders with Droppingo.com are neither exchangeable nor refundable</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="bac-right bac-right-common">
								<div class="bac-detail">
									<%= form_for :bulk_order_discount, html: {class: "studentMember-form bulkOrder-form"}, :url => create_bulk_order_discount_requests_path do |f| %>
										<%#= f.error_messages %>
										<div class="bulkOrder-form-inner inner-first">
											<div class="bac-heading">
												<h1>Your Information</h1>
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12">	
													<div class="form-group">
														<%= f.text_field :full_name, class: "form-control sm-form-fields", placeholder: "Full name"%>
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">	
													<div class="form-group">
														<%= f.text_field :company, class: "form-control sm-form-fields", placeholder: "Company / Organization"%>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12">	
													<div class="form-group">
														<%= f.text_field :city, class: "form-control sm-form-fields", placeholder: "Your city"%>
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">	
													<div class="form-group">
														<%= f.text_field :country, class: "form-control sm-form-fields", placeholder: "Your country"%>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12">	
													<div class="form-group">
														<%= f.text_field :phone_number, class: "form-control sm-form-fields", placeholder: "Your phone number"%>
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">	
													<div class="form-group">
														<%= f.email_field :email, class: "form-control sm-form-fields", placeholder: "Your email"%>
													</div>
												</div>
											</div>
										</div>
										<div class="bulkOrder-form-inner inner-second">
											<div class="bac-heading">
												<h1>Order Information</h1>
											</div>
											<div id="other_info">
												<div class="row">
													<div class="col-md-6 col-sm-4 col-xs-12">	
														<div class="form-group">
															<%= text_field_tag "other_information[][book_title]", nil, class: "form-control sm-form-fields", placeholder: "Book title" %>
														</div>
													</div>
													<div class="col-md-3 col-sm-4 col-xs-6">	
														<div class="form-group">
															<%= text_field_tag "other_information[][author]", nil, class: "form-control sm-form-fields", placeholder: "Author" %>
														</div>
													</div>
													<div class="col-md-3 col-sm-4 col-xs-6">	
														<div class="form-group">
															<%= text_field_tag "other_information[][publisher]", nil, class: "form-control sm-form-fields", placeholder: "Publisher" %>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3">	
														<div class="form-group">
															<%= number_field_tag "other_information[][quantity]", nil, min: 0, class: "form-control sm-form-fields", placeholder: "Quantity" %>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group add-item">
														<a href="javascript:;" id="addNew"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Add Another Item</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">	
													<div class="form-group">
														<label>Additional Message</label>
														<%= f.text_area :message, class: "form-control", placeholder: "Any additional message?"%>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<%= f.submit "Submit Bulk Order Request", class: "btn sm-account-btn"%>
												</div>
											</div>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.banner-after-content -->
		</div>

<div style="display: none;" id="other_info-1">
	<div>
		<span onclick="removeChoice($(this))" class="remove-choice" > X </span>
		<div class="row">
			<div class="col-md-6 col-sm-4 col-xs-12">	
				<div class="form-group">
					<%= text_field_tag "other_information[][book_title]", nil, class: "form-control sm-form-fields", placeholder: "Book title" %>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6">	
				<div class="form-group">
					<%= text_field_tag "other_information[][author]", nil, class: "form-control sm-form-fields", placeholder: "Author" %>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6">	
				<div class="form-group">
					<%= text_field_tag "other_information[][publisher]", nil, class: "form-control sm-form-fields", placeholder: "Publisher" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">	
				<div class="form-group">
					<%= number_field_tag "other_information[][quantity]", nil, min: 0, class: "form-control sm-form-fields", placeholder: "Quantity" %>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#addNew").on("click", function() {
	  return $("#other_info").append($("#other_info-1").html());
	});

	this.removeChoice = function(element) {
	  return element.parent().remove();
	};
</script>