<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="careers-page">
				<h1>Start a new chapter in your career with a company that combines innovation, passion and potential.</h1>
				<h4>The Internet's Largest Bookstore</h4>
				<p>Taking advantage of vast warehouses across the Pakistan, we stock over 1 million titles for immediate delivery -- that's more titles than any other online bookseller.
With so many titles, it is vital to give customers an easy way to find precisely the books they are looking for. Our search engine enables customers to locate books by title, author, or keyword in a few seconds at most. Customers with a general idea of what they want can use our Browse pages to sift through hundreds of categories to find exactly the right book. As the ultimate destination for book lovers, Droppingo.com offers an incredible array of content.</p>
				<p>for contact</p>
				<a href="#" class="careers-mail">info@mail.com</a>
			</div>
		</div>
	</div>
</div>


