<div class="boc-main contactus-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bac-right bac-right-common">
					<div class="bac-detail">
						<%= form_for Contact.new, html: {class: "studentMember-form bulkOrder-form", name: "contact_us_form"}, :url => contact_us_requests_path, method: :post do |f| %>
							<div class="bulkOrder-form-inner inner-first">
								<div class="bac-heading">
									<h1>Contact Us</h1>
								</div>
								<div class="row">
									<div class="col-md-12">	
										<div class="form-group">
											<%= f.text_field :name, id: "name", class: "form-control publish-fields", placeholder: "Full name" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">	
										<div class="form-group">
											<%= f.text_field :company, id: "company", class: "form-control publish-fields", placeholder: "Company / Organization" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">	
										<div class="form-group">
											<%= f.email_field :email, id: "email", class: "form-control publish-fields", required: true, placeholder: "Your email" %>
										</div>
									</div>
									<div class="col-md-4 col-md-offset-1">	
										<div class="form-group">
											<%= f.text_field :phone_no, id: "phone_no", class: "form-control publish-fields",  required: true, placeholder: "e.g. 03001111111" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">	
										<div class="form-group">
											<label>Message</label>
											<%= f.text_area :message, id: "message", class: "form-control" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-md-offset-4">
										<%= f.submit 'Submit', :class => 'btn sm-account-btn' %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>