<div class="main-content studentMember-content">
	<!-- /.banner-publisher -->
	<div class="banner-site banner-studentMember">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="#" class="sm-account-btn sm-account-btn-1" data-toggle="modal" data-target="#myModal-1">Create An Account</a>
				</div>
			</div>
			<ul class="overlay-sm-links">
				<li><a href="#" class="facebook-bg"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#" class="instagram-bg"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#" class="twitter-bg"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#" class="pinterest-bg"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- /.banner-publisher -->

	<!-- Modal -->
	<div class="modal fade sm-modal" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="sm-overlay-detail">
					<div class="sm-overlay-head">
						<h4>YOUR DETAILS</h4>
						<button type="button" class="close-btn close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="sm-overlay-body">
						<%= form_for :student_profile, remote: true, html: {class: "studentMember-form"}, :url => student_membership_step_one_path do |f| %>
							<div class="row">
								<div class="col-md-12">	
									<div class="form-group">
										<% if current_user.present? %>
											<%= f.text_field :name, class: "form-control sm-form-fields", value: current_user.first_name+ " " +current_user.last_name, disabled: (true)%>
											<%= f.hidden_field :name, value: current_user.first_name+ " " +current_user.last_name %>
										<% else %>
											<%= f.text_field :name, class: "form-control sm-form-fields", placeholder: "Full Name"%>
										<% end %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">	
									<div class="form-group">
										<% if current_user.present? %>
											<%= f.email_field :email, class: "form-control sm-form-fields", value: current_user.email, disabled: (true)%>
											<%= f.hidden_field :email, value: current_user.email %>
										<% else %>
											<%= f.email_field :email, class: "form-control sm-form-fields", placeholder: "Email"%>
										<% end %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">	
									<div class="form-group">	
										<%= f.password_field :password, class: "form-control sm-form-fields", placeholder: "Password", disabled: (true if current_user.present?) %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<ul class="gender-option">
											<li class="">
												<div class="radio">
													<label>
														<%= f.radio_button :gender, 'male', :id => 'gender' %> Male
													</label>
												</div>
											</li>
											<li>
												<div class="radio">
													<label>
														<%= f.radio_button :gender, 'female', :id => 'gender' %> Female
													</label>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-12">
											<label class="birthday-label">Birthday</label>
										</div>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<div class="form-group sm-birthday-set">
												<%= f.date_select(:date_of_birth, :order => [:month, :day, :year], :start_year=>1970, :class => "form-control sm-form-fields", placeholder: "Birth Date")%>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<%= f.submit 'Create Account', :class => 'btn sm-account-btn' %>
									<div class="createAccout-content">
										<p class="terms-para">By submitting this form, you are agreeing to our 
											<span><a href="#">Terms and Conditions</a></span>
										</p>
										<p class="login-para">Have an account already? 
											<span><a href="#">LOG IN</a></span>
										</p>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
	    </div>
	  </div>
	</div>


	<div class="modal fade sm-modal sm-modal-2" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="sm-overlay-detail">
					<div class="sm-overlay-head">
						<h4>YOUR DETAILS</h4>
						<button type="button" class="close-btn close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="sm-overlay-body">
						<%= form_for :student_profile, remote: true, method: :put, html: {class: "studentMember-form"}, :url => student_membership_update_path do |f| %>
							<%= f.hidden_field :profile_id, :class => "profile_id" %>
							<div class="row">
								<div class="col-md-12">	
									<div class="form-group">
										<%= f.text_field :institution_name, class: "form-control sm-form-fields", placeholder: "NAME OF INSTITUTION"%>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">	
									<div class="form-group sm-birthday-set">
										<%= f.select :current_educational_level, options_for_select([["CURRENT EDUCATION LEVEL", ""], "Bachelors Degree", "Masters", "PhD", "Others"]), :class => 'form-control sm-form-fields' %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">	
									<div class="form-group">
										<%= f.text_field :area_of_study, class: "form-control sm-form-fields", placeholder: "COURSE / AREA OF STUDY"%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">	
									<div class="form-group sm-birthday-set">
										<%= f.select :year_of_study, options_for_select([["YEAR OF STUDY", ""], "Freshmen", "Sophomor", "Junior", "Senior"]), :class => 'form-control sm-form-fields' %>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">	
									<div class="form-group sm-birthday-set">
										<%= f.select :course_length, options_for_select([["COURSE LENGTH", ""], "1", "2", "3", "4"]), :class => 'form-control sm-form-fields' %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">	
									<div class="form-group">
										<%= f.text_field :student_id, class: "form-control sm-form-fields", placeholder: "STUDENT ID / ROLL NO."%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">	
									<div class="form-group">
										<%= f.text_field :mobile_no, class: "form-control sm-form-fields", placeholder: "MOBILE NO"%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<%= f.submit 'SUBMIT', :class => 'btn sm-account-btn' %>
								</div>
							</div>
						<% end %>
					</div>
					<div class="sm-overlay-footer">
						<p class="login-email"></p><p>- <a href="<%= destroy_user_session_path %>" data-method="delete">Logout</a></p>
					</div>
				</div>
	    </div>
	  </div>
	</div>


	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-11">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Droppingo Student Membership</h1>
						</div>
						<div class="bac-detail">
							<h4>Join Pakistan's largest community of School, College and University students today! Your portal to a better student life!</h4>
							<h4>Our Aims</h4>
							<ul class="publish-follow-list">
								<li>To help students save money and better manage their finances.</li>
								<li>To offer students amazing deals, offers & discounts on the brands they love.</li>
								<li>To help students find jobs.</li>
								<li>To help students make well-informed career and life choices.</li>
							</ul>
							<h4>In short, we exist to help students.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>

<script type="text/javascript">
	var selector = '.gender-option li ';
	$(selector).on('click', function(){
    $(selector).removeClass('active');
    $(this).addClass('active');
	});
</script>