<div class="main-content publish-content">
			<!-- /.banner-publish -->
			<div class="banner-site banner-publish">
				<div class="banner-publish-overlay">
					<h1>DROPPINGO PRESS</h1>
					<h2>BRING YOUR BOOK TO LIFE</h2>
				</div>
			</div>
			<!-- /.banner-publish -->
			<!-- /.banner-after-content -->
			<div class="banner-after-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="bac-left publish-bac-left">
								<div class="bac-heading">
									<h1>Publish with Droppingo</h1>
								</div>
								<div class="bac-detail">
									<p>If you are working on a manuscript or have an idea for a book or digital learning materials, please let us know about it.</p>
									<p>We offer Authors the chance to work with a publisher who has the marketing, distribution and commercial weight of a major player but the spirit of an independent.</p>
									<p>When contacting us, it would be helpful if you had given some thought to the market for the book and any competition. It will also be useful for us to know your own background, reasons for writing the book, and why you think there is a need for it. </p>
									<p>We care deeply about the quality of our publishing. Rigorous peer review is vital to this. We will support you with a thorough but fast and responsive peer review process.</p>
									<label>School and College textbooks and learning materials</label>
									<p>Are you interested in working with Droppingo Education, as an Author?</p>
									<p>If you think you have what it takes let us know using our <a href="<%= contact_us_requests_path %>">contact form</a> or sending us an email on publishing@droppingo.com</p>
									<p>Please include the following in your email:</p>
									<ul class="publish-follow-list">
										<li>Author CV</li>
										<li>Synopsis (chapter breakdown)</li>
										<li>Sample chapter (or two depending on length)</li>
										<li>Any marketing or publicity information that would help to sell such a book</li>
									</ul>
									<p>Always keep back-up copies of everything you send, and be prepared for a significant delay before you receive a reply as yours is one of many such communications. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="bac-right publish-bac-right">
								<div class="bac-right-detail">
									<h1>Want to talk?</h1>
									<p>If you have a question or a publishing idea but are not yet ready to submit a proposal form, enter your details below and one of our editors will contact you:</p>
									<%= form_for @new_request, remote: true, html: {class: "bac-publish-form", name: "publishRequestForm"}, :url => publish_requests_path, method: :post do |f| %>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<%= f.text_field :full_name, id: "full_name", class: "form-control publish-fields", placeholder: "Full Name" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 colsm-6 col-xs-12">
												<div class="form-group">
													<%= f.text_field :job_title, id: "job_title", class: "form-control publish-fields", placeholder: "Job Title" %>
												</div>
											</div>
											<div class="col-md-6 colsm-6 col-xs-12">
												<div class="form-group">
													<%= f.text_field :city, id: "city", class: "form-control publish-fields", placeholder: "City" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 colsm-6 col-xs-12">
												<div class="form-group">
													<%= f.email_field :email, id: "email", class: "form-control publish-fields", placeholder: "Email ID" %>
												</div>
											</div>
											<div class="col-md-6 colsm-6 col-xs-12">
												<div class="form-group">
													<%= f.number_field :mobile_no, id: "mobile_no", class: "form-control publish-fields", placeholder: "Mobile No" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<%= f.text_field :primary_subj_area, id: "primary_subj_area", class: "form-control publish-fields", placeholder: "PRIMARY SUBJECT AREA" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<%= f.text_area :project_summary, id: "project_summary", class: "form-control publish-fields", placeholder: "Summary Of Your Project" %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<%= f.submit 'Submit', :class => 'publish-btn' %>
											</div>
										</div>
									<% end %>
									<div class="overlay-message">
							    	<div class="overlay-msg-inner">
							      	<span><i class="fa fa-check" aria-hidden="true"></i></span>
							      	<h1>Thank You!</h1>
							      	<p>Your message has been received, we'll be in touch very soon</p>
							     	</div>
							    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.banner-after-content -->
		</div>