<% if @new_request.errors.present? %>
  toastr["error"]("Please provide all fields marked with *")
<% else %>
  // $('#error-div').html('Please provide all fields marked with *').css('color', 'red');
  toastr["info"]("Request submitted successfully!")
  $('.overlay-message').css('display', 'block');
  $('.form-control').val("");
<% end %>