<div class="main-content studyAbroad-content">
	<!-- /.banner-studyAbroad -->
	<div class="banner-site banner-studyAbroad">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 col-xs-12">
					<div class="bac-right-detail">
						<h1>REGISTER FOR A FREE COUNSELLING SESSION</h1>
						<div id="error-div"></div>
						<%= form_for @new_request, remote: true, html: {class: "bac-publish-form", name: "studyAbroadForm"}, :url => study_abroads_path, method: :post do |f| %>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<%= f.text_field :full_name, id: "full_name", class: "form-control publish-fields", placeholder: "Full Name" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<%= f.text_field :interested_study_field, id: "interested_study_field", class: "form-control publish-fields", placeholder: "INTERESTED FIELD OF STUDY" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 colsm-6 col-xs-12">
									<div class="form-group">
										<%= f.text_field :current_education, id: "current_education", class: "form-control publish-fields", placeholder: "CURRENT EDUCATION" %>
									</div>
								</div>
								<div class="col-md-6 colsm-6 col-xs-12">
									<div class="form-group">
										<%= f.text_field :city, id: "city", class: "form-control publish-fields", placeholder: "City" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 colsm-6 col-xs-12">
									<div class="form-group">
										<%= f.text_field :email, id: "email", class: "form-control publish-fields", placeholder: "EMAIL ID" %>
									</div>
								</div>
								<div class="col-md-6 colsm-6 col-xs-12">
									<div class="form-group">
										<%= f.text_field :mobile_no, id: "mobile_no", class: "form-control publish-fields", placeholder: "Mobile No" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<%= f.text_area :message, id: "message", class: "form-control", placeholder: "Message" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<%= f.submit 'Send Message', :class => 'publish-btn' %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
		<div class="overlay-message">
    	<div class="overlay-msg-inner">
      	<span><i class="fa fa-check" aria-hidden="true"></i></span>
      	<h1>Thank You!</h1>
      	<p>Your message has been received, we'll be in touch very soon</p>
     	</div>
    </div>
	</div>
	<!-- /.banner-studyAbroad -->
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="bac-left studyAbroad-bac-left">
						<div class="bac-study-img">
							<%= image_tag("plane-img.png", alt: "IMG")%>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="bac-right studyAbroad-bac-right">
						<div class="bac-heading">
							<h1>Study Abroad</h1>
						</div>
						<div class="bac-detail">
							<p>For more than 5 years, Droppingo has played a major role in international education. We are one of the leading overseas education consultants based in Pakistan and have site office in France and Spain, we have the answers to all your questions about studying abroad. With 100's successful placements to quality institutes in France, Spain, Germany, Italy e.t.c,  Droppingo remains dedicated towards being a comprehensive one-stop consultant for all those who wish to study overseas. Droppingo has plans to open office in different cities of Pakistan to provide best in class study abroad counseling to students. At Droppingo we have expert destination counsellors who can guide students through each step, from choosing the best course to submitting your university application as well as helping them through the visa requirements. Inshort, Droppingo ensures that you are well prepared for a new life in a new country.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>