<% if @profile.save %>
	<% flash[:info] = "Student profile has been updated successfully." %>
	<% if params[:student_profile][:redirect].present? %>
		window.location.href = "<%= student_club_path %>"
	<% else %>
		$('#myModal-2').remove();
		window.location.href = "<%= user_profile_path %>";
	<% end %>
<% else %>
	toastr["error"]("Please provide all fields marked with *");
<% end %>