<% if resource.present? && @resource_created == true %>
	<% if @profile.save %>
		toastr["info"]("Student profile has been created. Please provide these details to complete your profile");
		$('#myModal-1').remove();
		$('#myModal-2').modal('show');
		$('.profile_id').val('<%= @profile.id %>');
		$('.login-email').text('<%= @profile.email %>');
	<% end %>
<% elsif resource.present? && @resource_created == false %>
	toastr["error"]("<%= resource.errors.full_messages %>");
<% elsif @profile.save %>
	<% flash[:info] = "Student profile has been created." %>
	<% if params[:student_profile][:redirect].present? %>
		window.location.href = "<%= student_club_path %>"
	<% else %>
		$('#myModal-1').remove();
		$('#myModal-2').modal('show');
		$('.profile_id').val('<%= @profile.id %>');
		$('.login-email').text('<%= @profile.email %>');
	<% end %>
<% else %>
	toastr["error"]("Please provide all fields marked with *");
<% end %>