<div class="main-content user-update-forms">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-12">
						<div class="sm-overlay-detail">
							<div class="sm-overlay-head">
								<h4>Complete Order</h4>
							</div>
							<%= form_for @order, method: :post, html: {class: "studentMember-form"}, :url => orders_path do |f| %>
								<div class="row">
									<div class="col-md-6">	
										<div class="form-group">
											<%= f.text_field :grand_total, class: "form-control sm-form-fields", value: @grand_total, disabled: true%>
										</div>
										<%= f.hidden_field :grand_total, value: @grand_total %>
									</div>
									<div class="col-md-6">	
										<div class="form-group sm-birthday-set">
											<%= f.select :delivary_method, options_for_select([['Select delivery method', ''], "Cash on delivery", "Pay through Visa"]),  :class => 'form-control sm-form-fields' %>
										</div>
									</div>
									<div class="col-md-12">	
										<div class="form-group">
											<%= f.text_area :delivary_address, class: "form-control sm-form-fields", placeholder: "Delivery Address"%>
										</div>
									</div>
									<div class="col-md-12">	
										<div class="form-group">
											<%= f.text_area :message, class: "form-control sm-form-fields", placeholder: "Message"%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<%= f.submit 'Place Order', :class => 'btn sm-account-btn'%>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>