<% if @order.save %>
	window.location.href = "<%= products_path %>";
<% else %>
	var error = ""
	<% @address.errors.each do |key,value| %>
		$( '.'+"<%=key%>" ).css( "border", "1px solid red" );
		error = error + "<%= key %>" + ", "
	<% end %>
	
	<% @order.errors.each do |key,value| %>
		$( '.'+"<%=key%>" ).css( "border", "1px solid red" );
		error = error + "<%= key %>" + ", "
	<% end %>
<% end %>  
