<div class="main-content productView-content card-view-table">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<% if current_user.present? && @cart.products.present? %>

						<table class=" table table-striped">
						  <thead>
						    <tr>
						      <th>Logo</th>
						      <th>Product Name</th>
						      <th>Price</th>
						      <th>Quantity</th>
						      <th>Sub Total</th>
						      
						    </tr>
						  </thead>

						 <tbody>
						  <% current_user.cart.products.group(:id).each do |product| %>
						    <tr>
						      <td><span class="cvt-span"><%= image_tag(product.avatar.url) %></span></td>
						      <td class="cvt-span-title"><%= product.title %></td>
						      <td><%= product.price %></td>
						      <td>
						      	<span class="pro-quantity-form">
						      		<span class="quantity-group">
						      			<%= link_to '<i class="fa fa-minus" aria-hidden="true"></i>'.html_safe, decrease_quantity_cart_cart_path(product), :method => :put, remote: true %> 
						      			<label class="quantity-label"><%= current_user.cart.products.group(:id).count[product.id]%></label> 
						      			<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, increase_quantity_cart_cart_path(product), :method => :put, remote: true %>
						      		</span>
						      	</span>
						      </td>
						      <td><%= current_user.cart.products.group(:id).count[product.id] * product.price %></td>
						    </tr>
						   <% end %>
						 </tbody>
						</table>
						<%= link_to 'Check Out', '#', { :class => "check-out-btn", 'data-toggle' => 'modal', 'data-target' => '#checkout' } %>
						<% elsif !current_user.present? && @cart.products.present? %>
						<table class=" table table-striped">
						  <thead>
						    <tr>
						      <th>Logo</th>
						      <th>Product Name</th>
						      <th>Price</th>
						      <th>Quantity</th>
						      <th>Sub Total</th>
						    </tr>
						  </thead>

						 <tbody>
						  <% @cart.products.group(:id).each do |product| %>
						    <tr>
						    	<td><span class="cvt-span"><%= image_tag(product.avatar.url) %></span></td>
						      <td><span class="cvt-span-title"><%= product.title %></span></td>
						      <td><%= product.price %></td>
						      <td>
						      	<span class="pro-quantity-form">
						      		<span class="quantity-group">
						      			<%= link_to '<i class="fa fa-minus" aria-hidden="true"></i>'.html_safe, decrease_quantity_cart_cart_path(product), :method => :put, remote: true %> 
						      			<label class="quantity-label"><%= @cart.products.group(:id).count[product.id]%></label> 
						      			<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, increase_quantity_cart_cart_path(product), :method => :put, remote: true %>
						      		</span>
						      	</span>
						      </td>
						      <td class="price"><%= @cart.products.group(:id).count[product.id] * product.price %></td>
						    </tr>
						   <% end %>
						 </tbody>
						</table>
						<input type="button" name="login_to_place_order" class ="check-out-btn check-out-btn-login" value="Please Login to place your order.">
						<!-- <a href="" class ="check-out-btn">Please Login to place your order. </a> -->
					<% else %>
						<p class ="cvt-para-empty">Your cart is empty.</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Check out modal -->
<div class="modal sm-modal checkout-modal orderCheckout-modal fade" id="checkout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content sm-overlay-detail">
      <div class="modal-header sm-overlay-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Complete Order</h4>
      </div>
      <div class="modal-body sm-overlay-body">
      	<%= form_for @order, method: :post, remote: true, html: {class: "studentMember-form dashboard-form"}, :url => orders_path do |f| %>
					<div class="row">
						<div class="col-md-3">	
							<div class="form-group">
								<label>Grand Total</label>
								<%= f.text_field :grand_total, class: "form-control sm-form-fields", value: @grand_total, disabled: true%>
							</div>
							<%= f.hidden_field :grand_total, value: @grand_total %>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Shipping Charges</label>
								<%= text_field_tag "shipping_charges", '', class: "form-control sm-form-fields", placeholder: "First Name", id: "shipping_charges", value: @shipping_charges, disabled: true%>
							</div>
						</div>
						<div class="col-md-6">	
							<div class="form-group sm-birthday-set">
								<label>Payment Method</label>
								<div class="shipping-p-method">
									<%= f.select :delivary_method, options_for_select([("Shipping Option 1"), ("Shipping Option 2")]), :class => 'form-control sm-form-fields' %>
									<div class="shipping-option hidden">
										<div class="shipping-option-inner shipping-option-1">
											<ul>
												<li>
													Standard Shipping via Pakistan Post
												</li>
												<li>
													Delivered In 4 – 8 Working Days at Your Doorstep
												</li>
												<li>
													Standard Shipping Rate of Rs. 150 for orders below Rs. 1000
												</li>
												<li>
													Applicable for Orders Upto the Value of Rs. 20,000
												</li><li>
													FREE Shipping on orders over Rs. 1000
												</li>
												<li>
													Non-Trackable Shipping
												</li>
											</ul>
										</div>
										<div class="shipping-option-inner shipping-option-2 hidden">
											<ul>
												<li>
													Express Shipping via OCS or Leopards Courier
												</li>
												<li>
													Delivered In 2 – 5 Working Days at Your Doorstep
												</li>
												<li>
													Express Shipping Rate of Rs. 250 for orders Upto the value of Rs. 5000
												</li>
												<li>
													Express Shipping Rate of Rs. 350 for orders over the value of Rs. 5000
												</li><li>
													Applicable for all orders
												</li>
												<li>
													Trackable Shipping
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<% if @default_address.present? %>
							<div class="checkbox col-md-6">
								<input type="checkbox" id="check-address" name="billingtoo">
								<em>Check this box if Billing Address is same as your Default Address.</em>
							</div>
							<div class="col-md-6">
								<div class="form-group sm-birthday-set">
									<label>Contact Number*</label>
									<%= f.text_field :number, class: "form-control sm-form-fields number", placeholder: 'e.g. 0322-1112222'%>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<%= f.fields_for :default_address do |field| %>
										<h5>Default Address:</h5>
										<div class="form-group">
											<label>Title*</label>
											<%= field.select :title, options_for_select([@default_address.title]), {disabled: true}, :class => 'form-control sm-form-fields', id: "default_address_title" %>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>First Name*</label>
													<%= field.text_field :first_name, class: "form-control sm-form-fields", value: @default_address.first_name, id: "default_address_first_name", disabled: true%>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Last Name*</label>
													<%= field.text_field :last_name, class: "form-control sm-form-fields", value: @default_address.last_name, id: "default_address_last_name", disabled: true%>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Address*</label>
											<%= field.text_area :postal_address, class: "form-control sm-form-fields oc-add", value: @default_address.postal_address, id: "default_address_postal_address", disabled: true%>
										</div>
										<div class="row oc-row-selects">
											<div class="col-md-4">
												<div class="form-group">
													<label>City*</label>
													<%= field.text_field :city, class: "form-control sm-form-fields", value: @default_address.city, id: "default_address_city", disabled: true%>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Province/State*</label>
													<%= field.text_field :state, class: "form-control sm-form-fields", value: @default_address.state, id: "default_address_state", disabled: true%>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Country*</label>
													<%= field.select :country, options_for_select([@default_address.country]), {:disabled => true}, id: "default_address_country", :class => 'form-control sm-form-fields' %>
												</div>
											</div>
										</div>
									<% end %>
								</div>
								<div class="col-md-6">	
									<%#= f.fields_for :address do |field| %>
										<h5>Billing Address:</h5>
										<div class="form-group">
											<label>Title*</label>
											<%= select_tag "address[title]", options_for_select([["Select title", ""], "Mr", "Mrs"]), id: "billing_title", :class => 'form-control sm-form-fields title' %>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>First Name*</label>
													<%= text_field_tag "address[first_name]", '', class: "form-control sm-form-fields first_name", placeholder: "First Name", id: "billing_first_name"%>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Last Name*</label>
													<%= text_field_tag "address[last_name]",'' , class: "form-control sm-form-fields last_name", id: "billing_last_name", placeholder: "Last Name"%>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Address*</label>
											<%= text_area_tag "address[postal_address]", '', class: "form-control sm-form-fields oc-add postal_address",id: "billing_postal_address", placeholder: "Address"%>
										</div>
										<div class="row oc-row-selects">
											<div class="col-md-4">
												<div class="form-group">
													<label>City*</label>
													<%= text_field_tag "address[city]", '', class: "form-control sm-form-fields city",id: "billing_city", placeholder: "City"%>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Province/State*</label>
													<%= text_field_tag "address[state]", '', class: "form-control sm-form-fields state",id: "billing_state", placeholder: "State"%>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Country*</label>
													<%= select_tag "address[country]", options_for_select([["Select Country", ""], "Pakistan", "China", "Russia"]),id: "billing_country", :class => 'form-control sm-form-fields country' %>
												</div>
											</div>
										</div>
									<%# end %>
								</div>
							</div>
						<% else %>
							<div class="row">
								<div class="col-md-12">	
									<%#= f.fields_for :address do |field| %>
										<h5>Billing Address:</h5>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Title*</label>
													<%= select_tag "address[title]", options_for_select([["Select title", ""], "Mr", "Mrs"]), id: "billing_title", :class => 'form-control sm-form-fields title' %>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group sm-birthday-set">
													<label>Contact Number*</label>
													<%= f.text_field :number, class: "form-control sm-form-fields number", placeholder: 'e.g. 0322-1112222'%>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>First Name*</label>
													<%= text_field_tag "address[first_name]", '', class: "form-control sm-form-fields first_name", placeholder: "First Name", id: "billing_first_name"%>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Last Name*</label>
													<%= text_field_tag "address[last_name]",'' , class: "form-control sm-form-fields last_name", id: "billing_last_name", placeholder: "Last Name"%>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Address*</label>
											<%= text_area_tag "address[postal_address]", '', class: "form-control sm-form-fields oc-add postal_address",id: "billing_postal_address", placeholder: "Address"%>
										</div>
										<div class="row oc-row-selects">
											<div class="col-md-4">
												<div class="form-group">
													<label>City*</label>
													<%= text_field_tag "address[city]", '', class: "form-control sm-form-fields city",id: "billing_city", placeholder: "City"%>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Province/State*</label>
													<%= text_field_tag "address[state]", '', class: "form-control sm-form-fields state",id: "billing_state", placeholder: "State"%>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Country*</label>
													<%= select_tag "address[country]", options_for_select([["Select Country", ""], "Pakistan", "China", "Russia"]),id: "billing_country", :class => 'form-control sm-form-fields country' %>
												</div>
											</div>
										</div>
									<%# end %>
								</div>
							</div>
						<% end %>
						<div class="row">
							<div class="col-md-12">	
								<div class="form-group oc-textarea">
									<%= f.text_area :message, class: "form-control sm-form-fields", placeholder: "Message"%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<%= f.submit 'Place Order', :class => 'btn sm-account-btn'%>
							</div>
						</div>
					</div>
				<% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){

	$("#order_delivary_method").hover(function () {
	  $('.shipping-option').toggleClass("hidden");
	});

	$('#order_delivary_method').change(function(){
		var total = $('#order_grand_total').val();
    test = $( "#order_delivary_method option:selected" ).text();
    if (test == "Shipping Option 1") {
    	$('.shipping-option-2').addClass('hidden')
    	$('.shipping-option-1').removeClass('hidden')
    	if (total < 1000) {
    	// 	// console.log("there")
    		$("#shipping_charges").val("150")
    	}
    	else{
    		$("#shipping_charges").val("0")
    	}
    } else {
    	$('.shipping-option-1').addClass('hidden')
    	$('.shipping-option-2').removeClass('hidden')
    	if (total <= 5000) {
    	// 	// console.log("there")
    		$("#shipping_charges").val("250")
    	}
    	else{
    		$("#shipping_charges").val("250")
    	}
    }
	});

	$('#check-address').click(function(){
		if($('#check-address').is(':checked')){
			$('#billing_title').val($('#default_address_title').val());
			$('#billing_first_name').val($('#default_address_first_name').val());
			$('#billing_last_name').val($('#default_address_last_name').val());
			$('#billing_postal_address').val($('#default_address_postal_address').val());
			$('#billing_city').val($('#default_address_city').val());
			$('#billing_state').val($('#default_address_state').val());
			$('#billing_country').val($('#default_address_country').val());
		}else{
			$('#billing_title').val("");
			$('#billing_first_name').val("");
			$('#billing_last_name').val("");
			$('#billing_postal_address').val("");
			$('#billing_city').val("");
			$('#billing_state').val("");
			$('#billing_country').val("");
		};
	});	

	$('.check-out-btn-login').click(function(e){
		e.stopPropagation();
		console.log('hello');
		$('#dropdownMenu1').dropdown('toggle');
		// $('.header-login-btns .loginform-dropdown').addClass('open');
		// $('.dropdown').addClass('open');
				// $('#dropdownMenu1').addClass('open');
		// $(".header-login-btns #dropdownMenu1").attr("aria-expanded","true");
		// console.log(" loginform-dropdown open");
	});
});
</script>
