<h1>Hi you have a new contact request.</h1>
<p>Email: <%= @contact.email%><br>
Phone Number: <%= @contact.phone_no %><br>
Company: <%= @contact.company %><br>
Message: <%= @contact.message %><br>
</p>