<%= form_for(:product, :url => update_products_admin_products_path, multipart: true ) do |f| %>
	<%= f.file_field :csv_file, class: 'btn btn-default' %> <br />  <br />
	<%= f.submit "update", class: "update-products-btn"%>
<% end %>