<div class="sc-books books-show-list">
	<% @products.each do |product| %>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-6">
				<a href="<%= product_path(product) %>">
					<div class="commonblock-container features-container">
						<div class="commonblock-img features-img site-img-setting">
			 				<%= image_tag(product.avatar.url, alt: 'IMG') %>
			 			</div>
			 		</div>
			 	</a>
			</div>
			<div class="col-md-10 col-sm-8 col-xs-6">
				<div class="commonblock-detail proView-detail pd-about-book">
					<h1><%= product.title %></h1>
					<p class="author-name">By: <span><%= product.author %></span></p>
					<p class="publisher-name">Publisher: <span><%= product.publisher %></span></p>
					<p class="isbn-no">ISBN: <span><%= product.isbn %></span></p>
					<p class="isbn-no">Price: <span><%= product.price %></span></p>
				</div>
			</div>
		</div>
		<hr>
	<% end %>
</div>
