
<div class="sc-books">
	<% if @view_type == 2 %>
		<%= render partial: 'product_list_view' %>
	<% else %>
		<div class="update-view">										
			<div class="sc-books">

				<% products.each_slice(5) do |product| %>
					<div class="features-block sc-books-content">
						<ul>
							<% product.each do |pro| %>
								<li>
									<a href="<%= product_path(pro) %>">
										<div class="commonblock-container features-container">
											<div class="commonblock-img features-img site-img-setting">
												<%= image_tag(pro.avatar.url, alt: "IMG", draggable: false)%>
											</div>
											<div class="commonblock-detail features-detail">
												<p><%= pro.title %>:by <%= pro.author %></p>
												<span class="price-books">Rs <%= pro.price %></span>
											</div>
										</div>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<% if !products.present? %>
					<span class="no-books">No books available</span>
				<% end %> 
			</div>
		</div>
	<% end %>
</div>


