<div class="main-content pc-search-content category-search">
	<!-- /.banner-category -->
	<% if @category.present? %>
		<% if @category.parent.present? and @category.parent.cover.present? %>
			<div div class="banner-site banner-category" style="background: url('<%= @category.parent.cover.url %>') no-repeat; background-size: cover;">
				<div class="sm-overlay cat-banner-overlay">
					<span><%= @category.name %></span>
				</div>
			</div>
		<% elsif @category.root.present? and @category.root.cover.present? %>
			<div div class="banner-site banner-category" style="background: url('<%= @category.parent.parent.cover.url %>') no-repeat; background-size: cover;">
				<div class="sm-overlay cat-banner-overlay">
					<span><%= @category.name %></span>
				</div>
			</div>
		<% else %>
			<div div class="banner-site banner-category" style="background: url('<%= @category.cover.url %>') no-repeat; background-size: cover;">
				<div class="sm-overlay cat-banner-overlay">
					<span><%= @category.name %></span>
				</div>
			</div>
		<% end %>
	<% else %>
		<div div class="banner-site banner-category" style="background: url('/assets/search.jpg') no-repeat; background-size: cover;">
			<div class="sm-overlay cat-banner-overlay">
				<span>Search Result</span>
			</div>
		</div>
	<% end %>
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="search-content-left">
							<% if @category.present? %>
								<div class="sc-left-general">
									<label>You are looking at</label>
									<div class="category-list-name">
										<p><%= @category.name %></p>
										<a href="#"><span class="cross-list-name"><i class="fa fa-times" aria-hidden="true"></i></span></a>
									</div>
								</div>
							<% end %>
							<div class="sc-category-list">
								<div class="category-list-view">
									<label>Refine by</label>
									<div class="category-list-name">
										<p>SUBJECTS</p>
										<a href="#"><span class="cross-list-name line-subject"></span></a>
									</div>
									<ul>
										<% if @category.present? %>
											<% sub_categories(@category.id).each do |cat| %>
												<li><a href="<%= products_path(:category_id => cat.id) %>"><%= cat.name %></a></li>
											<% end %>
										<% else %>
											<% sub_categories.each do |cat| %>
												<li><a href="<%= products_path(:category_id => cat.id) %>"><%= cat.name %></a></li>
											<% end %>
										<% end %>
									</ul>
								</div>
								<div class="category-list-view price-list-view">
									<div class="category-list-name">
										<p>Prices</p>
										<a href="#"><span class="cross-list-name line-subject"></span></a>
									</div>
									<ul>
										<% if @category.present? %>
											<li><a href="<%= products_path(:price_range => '0-500', :category_id => @category.id) %>">Under Rs. 500</a></li>
											<li><a href="<%= products_path(:price_range => '500-1000', :category_id => @category.id) %>">Rs. 500 - Rs. 1000</a></li>
											<li><a href="<%= products_path(:price_range => '1000-2500', :category_id => @category.id) %>">Rs. 1000 - Rs. 2500</a></li>
											<li><a href="<%= products_path(:price_range => '2500-5000', :category_id => @category.id) %>">Rs. 2500 - Rs. 5000</a></li>
											<li><a href="<%= products_path(:price_range => '5000-25000', :category_id => @category.id) %>">Over Rs. 5000</a></li>
										<% else %>
											<li><a href="<%= products_path(:price_range => '0-500') %>">Under Rs. 500</a></li>
											<li><a href="<%= products_path(:price_range => '500-1000') %>">Rs. 500 - Rs. 1000</a></li>
											<li><a href="<%= products_path(:price_range => '1000-2500') %>">Rs. 1000 - Rs. 2500</a></li>
											<li><a href="<%= products_path(:price_range => '2500-5000') %>">Rs. 2500 - Rs. 5000</a></li>
											<li><a href="<%= products_path(:price_range => '5000-25000') %>">Over Rs. 5000</a></li>
										<% end %>
									</ul>
								</div>
							</div>
							<div class="sc-advertisement advertisement-left">
								<p>Advertising</p>
							</div>	
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="search-content-right update-view">
							<div class="product-box1">
								<div class="sc-category">
									<ul>
										<% if @category.present? %>
											<li><a href="#"><%= render_breadcrumb_links.html_safe %> </a></li>
										<% else %>
											<em><%= "#{params[:search]}"%></em>
										<% end %>
									</ul>
								</div>
								<div class="sc-result">
									<% if @products.length > 0%>
										<p>Showing <b><%= @products.offset_value + 1 %> - <%= @products.offset_value + @products.length %></b> of <b><%= @products.total_count %></b> Results</p>
									<% else %>
										<p>Showing <b><%= @products.offset_value %> - <%= @products.offset_value + @products.length %></b> of <b><%= @products.total_count %></b> Results</p>
									<% end %>
								</div>
								<div class="sc-sort">
									<div class="sc-sort-options sort-option-sort">
										<%= form_tag(products_path, :method => :get) do %>
											<div class="field">
										    <label>Sort by</label>
										    <% if @product_sort_by.present? %>
										    	<%= select_tag(:sort_by, options_for_select([[@product_sort_by, " "],"Price Low-High", "Price High-Low", "Title A-Z", "Title Z-A"]), :include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% else %>
										    	<%= select_tag(:sort_by, options_for_select([["Sort By", " "],"Price Low-High", "Price High-Low", "Title A-Z", "Title Z-A"]), :include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% end %>
										    <% if @category.present? %>
										    	<input type="hidden" name="category_id" value="<%=@category.id%>">
										    <% end %>
										    <% if @view_type >= 1 %>
										    	<input type="hidden" name="view_type" value="<%= @view_type %>">
										    <% end %>		
										    <% if @products_per_page.present? %>
										    	<input type="hidden" name="per_page" value="<%= @products_per_page %>">
										    <% end %>	
										    <% if @price_range.present? %>
										    	<input type="hidden" name="price_range" value="<%= @price_range %>">
										    <% end %>							    
											</div>
										<% end %>
									</div>
									
									
									<div class="sc-sort-options sort-option-result">
										<%= form_tag(products_path, :method => :get) do %>
											<div class="field">
										    <label>Results per page</label>
										    <% if @products_per_page.present? %>
										    	<%= select_tag(:per_page, options_for_select([[@products_per_page, " "], "20", "50", "100"]), :include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% else %>
										    	<%= select_tag(:per_page, options_for_select([["20", " "], "20", "50", "100"]),:include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% end %>
										    <% if @category.present? %>
										    	<input type="hidden" name="category_id" value="<%=@category.id%>">
										    <% end %>
										    <% if @view_type >= 1 %>
										    	<input type="hidden" name="view_type" value="<%= @view_type %>">
										    <% end %>
										    <% if @product_sort_by.present? %>
										    	<input type="hidden" name="sort_by" value="<%= @product_sort_by %>">
										    <% end %>
											</div>
										<% end %>
									</div>
									<div class="sc-sort-options sort-option-grid">
										<ul class="grid-option-list">
											<% if @category.present? %>
												<li class="grid-view">
													<a class="grid-view-a" href="<%= products_path(view_type: 1, category_id: @category.id) %>" class="grid-view-url"></a>
												</li>
												<li class="list-view">
													<a class="list-view-a" href="<%= products_path(view_type: 2, category_id: @category.id) %>"></a>
												</li>
											<% else %>
												<li class="grid-view">
													<a class="grid-view-a" href="<%= products_path(view_type: 1) %>" ></a>
												</li>
												<li class="list-view">
													<a class="list-view-a" href="<%= products_path(view_type: 2) %>"></a>
												</li>
											<% end %>
										</ul>
									</div>
									<div class="sc-sort-options sort-option-pagination text-right">	
										<%= paginate @products, window: 1 %>	
									</div>
								</div>
								<%= render partial: 'products/products', locals: {category: @category, products: @products}%>
								<div class="sc-sort">
									<div class="sc-sort-options sort-option-sort">
										<%= form_tag(products_path, :method => :get) do %>
											<div class="field">
										    <label>Sort by</label>
										    <% if @product_sort_by.present? %>
										    	<%= select_tag(:sort_by, options_for_select([[@product_sort_by, " "],"Price Low-High", "Price High-Low", "Title A-Z", "Title Z-A"]), :include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% else %>
										    	<%= select_tag(:sort_by, options_for_select([["Sort By", " "],"Price Low-High", "Price High-Low", "Title A-Z", "Title Z-A"]), :include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% end %>
										    <% if @category.present? %>
										    	<input type="hidden" name="category_id" value="<%=@category.id%>">
										    <% end %>
										    <% if @view_type >= 1 %>
										    	<input type="hidden" name="view_type" value="<%= @view_type %>">
										    <% end %>		
										    <% if @products_per_page.present? %>
										    	<input type="hidden" name="per_page" value="<%= @products_per_page %>">
										    <% end %>								    
											</div>
										<% end %>
									</div>
									<div class="sc-sort-options sort-option-result">
										<%= form_tag(products_path, :method => :get) do %>
											<div class="field">
										    <label>Results per page</label>
										    <% if @products_per_page.present? %>
										    	<%= select_tag(:per_page, options_for_select([[@products_per_page, " "], "20", "50", "100"]), :include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% else %>
										    	<%= select_tag(:per_page, options_for_select([["20", " "], "20", "50", "100"]),:include_blank => false, :onchange => "this.form.submit()", class: "form-control")%>
										    <% end %>
										    <% if @category.present? %>
										    	<input type="hidden" name="category_id" value="<%=@category.id%>">
										    <% end %>
										    <% if @view_type >= 1 %>
										    	<input type="hidden" name="view_type" value="<%= @view_type %>">
										    <% end %>
										    <% if @product_sort_by.present? %>
										    	<input type="hidden" name="sort_by" value="<%= @product_sort_by %>">
										    <% end %>
											</div>
										<% end %>
									</div>
									<div class="sc-sort-options sort-option-grid">
										<ul class="grid-option-list">
											<% if @category.present? %>
												<li class="grid-view">
													<a class="grid-view-a" href="<%= products_path(view_type: 1, category_id: @category.id) %>"></a>
												</li>
												<li class="list-view">
													<a class="list-view-a" href="<%= products_path(view_type: 2, category_id: @category.id) %>"></a>
												</li>
											<% else %>
												<li class="grid-view">
													<a class="grid-view-a" href="<%= products_path(view_type: 1) %>"></a>
												</li>
												<li class="list-view">
													<a class="list-view-a" href="<%= products_path(view_type: 2) %>"></a>
												</li>
											<% end %>
										</ul>
									</div>
									<div class="sc-sort-options sort-option-pagination text-right">	
										<%= paginate @products, window: 1 %>	
									</div>
								</div>
							</div>
							<div class="sc-advertisement advertisement-right">
								<p>Advertising</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>

<script type="text/javascript">
	$(document).ready(function() {
		<% if @view_type == 2 %>
			$('.list-view').addClass('active');
		<% else %>
			$('.grid-view').addClass('active');
		<% end %>
		// $('.sort-option-result select').addClass("form-control select-number");
		// $('#per_page_per_page').addClass("form-control select-number");
	});

	// ==============get parameters available in url===============
	var QueryString = function () {
	  // This function is anonymous, is executed immediately and 
	  // the return value is assigned to QueryString!
	  var query_string = {};
	  var query = window.location.search.substring(1);
	  var vars = query.split("&");
	  for (var i=0;i<vars.length;i++) {
	    var pair = vars[i].split("=");
	        // If first entry with this name
	    if (typeof query_string[pair[0]] === "undefined") {
	      query_string[pair[0]] = decodeURIComponent(pair[1]);
	        // If second entry with this name
	    } else if (typeof query_string[pair[0]] === "string") {
	      var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
	      query_string[pair[0]] = arr;
	        // If third or later entry with this name
	    } else {
	      query_string[pair[0]].push(decodeURIComponent(pair[1]));
	    }
	  } 
	  return query_string;
	}();

</script>