	
<!-- <meta property="og:title" content="<%= @product.title %>" />
<meta property="og:type" content="book" />
<meta property="og:image" content="http://droppingo.mashup.li<%= @product.avatar.url %>" />
<meta property="og:url" content="http://droppingo.mashup.li/products/<%= @product.id %>" />
<meta property="og:description" content="<%= @product.description %>" /> -->
<!-- <div id="fb-root"></div> -->
<div class="main-content productView-content">
	<!-- /.proView-block -->
	<div class="common-block proView-block">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="commonblock-img proView-img site-img-setting">
						<img src="<%= @product.avatar.url %>" alt="IMG">
					</div>
					<div class="proView-viewers text-center">
						<span class="viewer-star">
							<div id="total-rating"></div>
						</span>
						<span class="viewer-review"><%= @all_reviews_rating.count %> Reviews</span>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="commonblock-detail proView-detail pd-about-book">
						<div class="proView-wishlist">
						<!-- add_to_wish_list_path(@product) -->
							<% if current_user.present? %>
								<a href="#" class="blue-btn wishlist-btn" data-toggle="modal" data-target="#addToListModal">Add to List</a>
							<% end %>
							<h1><%= @product.title %></h1>
						</div>
						<p class="author-name">By: <span><%= @product.author %></span></p>
						<p class="publisher-name">Publisher: <span><%= @product.publisher %></span></p>
						<p class="isbn-no">ISBN: <span><%= @product.isbn %></span></p>
						<div class="sc-sort proView-order">
							<div class="row">
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="proView-order-stock">
										<label>Paperback</label>
										<span class="in-stock"><i class="fa fa-check" aria-hidden="true"></i> In Stock</span>
										<form class="pro-quantity-form">
											<label>Quantity</label>
											<div class="quantity-group">
												<button><%= link_to '-', decrease_quantity_cart_path(@product), :method => :put, remote: true %></button>
												<input type="text" class="quantity-field" value="<%= @quantity %>" disabled>
												<button><%= link_to '+', increase_quantity_cart_path(@product), :method => :put, remote: true %></button>
											</div>
										</form>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="proView-order-cart text-center">
										<label>Rs. <%= @product.price %></label>
										<%= link_to 'Add To Cart', add_to_cart_cart_path(@product), :method => :put, remote: true %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= @social.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= @social.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= @social.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= @social.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
		<!-- <ul class="overlay-sm-links">
			<li class="fb-list">
				<div class="fb-share-button" data-href="http://droppingo.mashup.li/products/<%= @product.id %>" data-layout="button" data-size="small" data-mobile-iframe="true"></div>
				<a class="facebook-bg"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			</li>

			<li class="insta-list">
				<a href="#" class="instagram-bg"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</li>

			<li class="tw-list">
				<iframe class="twitter-bg-1"
				  src="https://platform.twitter.com/widgets/tweet_button.html?size=l&
				  url=http://droppingo.mashup.li/products/<%= @product.id %>&related=twitterapi%2Ctwitter&text=<%=@product.title%>&hashtags=#{@product.title}&data-size=large"
				  width="140"
				  height="28"
				  title="<%= @product.title %>"
				  style="border: 0; overflow: hidden;">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</iframe>
				<a href="#" class="twitter-bg"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</li>
			<li class="pin-list">
				<a class="pinterest-bg" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=http://www.foodiecrush.com/2014/03/filet-mignon-with-porcini-mushroom-compound-butter/&media=https://s-media-cache-ak0.pinimg.com/736x/17/34/8e/17348e163a3212c06e61c41c4b22b87a.jpg&description=So%20delicious!" data-pin-custom="true"><i class="fa fa-pinterest-p" aria-hidden="true"></i>
				</a>
			</li>
		</ul> -->
	</div>
	<!-- /.proView-block -->
	<!-- /.itemBought-block -->
	<div class="common-block itemBought-block">
		<div class="container">
			<h3 class="productView-heading">Customers Who Bought This Item Also Bought</h3>
			<div class="sc-books">
				<div class="features-block sc-books-content">
					<div class="row">
						<% if @same_tag_products.present? %>
							<% @same_tag_products.each do |product| %>
								<div class="col-md-2 col-sm-4 col-xs-6">
									<div class="commonblock-container">
										<a href="<%= product_path(product) %>">
											<div class="commonblock-img features-img">
												<img src="<%= product.avatar.url %>" alt="IMG" draggable="false">
											</div>
											<div class="commonblock-detail features-detail">
												<p><%= product.title %></p>
												<span class="price-books">Rs <%= product.price %></span>
											</div>
										</a>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.itemBought-block -->
	<!-- /.pro-overview-block -->
	<div class="common-block pro-overview-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="sc-sort pro-overview-list">
						<ul>
							<li><a href="#overview">overview</a></li>
							<li><a href="#details">product description</a></li>
							<li><a href="#related_sub">related subjects</a></li>
							<li><a href="#reviews">reviews</a></li>
						</ul>
					</div>
					<div class="pro-overview-detail">
						<div class="pro-inner-content pic-overview">
							<h3 class="productView-heading" id="overview">Overview</h3>
							<p><%= (@product.description).html_safe if @product.description.present? %></p>
						</div>
						<div class="pro-inner-content pic-descrip">
							<h3 class="productView-heading" id="details">Product Description</h3>
							<p>ISBN: <span><%= @product.isbn %></span></p>
							<p>Publisher: <span><%= @product.publisher %></span></p>
							<p>Author: <span><%= @product.author %></span></p>
							<p>Edition: <span><%= @product.edition %></span></p>
							<p>Pages: <span><%= @product.pages %></span></p>
						</div>
						<div class="pro-inner-content pic-subject">
							<h3 class="productView-heading" id="related_sub">Related Subjects</h3>
							<ul>
								<% @product.tags.each do |tag| %>
									<li><a href="#"><%= tag.name%></a></li>
								<% end %>
							</ul>
						</div>
						<div class="pro-inner-content pic-review">
						<% if current_user.present? && !@review.present? %>
							<h3 class="productView-heading">Reviews</h3><a class="add-new-review">Review this book</a>
							<div class="new-review hidden">
								<%= form_for Review.new, remote: true, method: :post, html: {class: "form-inline studentMember-form dashboard-form"}, :url => "/reviews?id=#{@product.id}" do |f| %>
									<div id="rating"></div>
									<div class="form-group">
										<%= f.text_area :body, placeholder: "Please enter your review about rhis book", :class => 'form-control sm-form-fields' %>
									</div>
									<div class="form-group group-form-btn">
										<button type="button" class="cancel-new-review-btn blue-btn user-dashboard-btn">Cancel</button>
										<%= f.submit 'Save', :class => 'blue-btn user-dashboard-btn' %>
									</div>
								<% end %>
							</div>
						<% else %>
							<h3 class="productView-heading" id="reviews">Reviews</h3>
						<% end %>
							<% @product.reviews.each do |review| %>
								<div class="product-reviews">
									<% if review.user == current_user %>
										<label><%= review.user.first_name %> <%= review.user.last_name %> </label>
										<a ><i class="fa fa-pencil edit-user-review" aria-hidden="true"></i></a>
										<a href="<%= review_path(review) %>" data-method='delete'><i class="fa fa-trash delete-user-review" aria-hidden="true"></i></a>
										<div id="show-rating" ></div>
										<p class="user-review"><%= review.body %></p>
										<div class="edit-review hidden">
											<%= form_for :review, remote: true, method: :put, html: {class: "form-inline studentMember-form dashboard-form"}, :url => review_path(review.id) do |f| %>
												<div id="update-rating" ></div>
												<div class="form-group">
													<%= f.text_area :body, value: review.body, :class => 'form-control sm-form-fields' %>
												</div>
												<div class="form-group group-form-btn">
													<button type="button" class="cancel-btn blue-btn user-dashboard-btn">Cancel</button>
													<%= f.submit 'Update', :class => 'blue-btn user-dashboard-btn' %>
												</div>
											<% end %>
										</div>
									<% else %>
										<label><%= review.user.first_name %> <%= review.user.last_name %></label>
										<div id="users-rating-<%=review.id%>"></div>
										<p><%= review.body %></p>
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.pro-overview-block -->
</div>

<!-- add to list modal -->
<div class="modal sm-modal dashBoard-list-modal addToList-Modal fade" id="addToListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content sm-overlay-detail">
      <div class="modal-header sm-overlay-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Product To List</h4>
      </div>
      <div class="modal-body sm-overlay-body">
	      <% if current_user.present? && current_user.wish_lists.present? %>
	      	<%= form_for :wish_list, remote: true, method: :put, html: {class: "studentMember-form dashboard-form dashboard-profile-form"}, :url => add_to_wish_list_path do |f| %>
	      		<%= f.hidden_field :product_id, :value => @product.id %>
		      		<div class="row">
			      			<% current_user.wish_lists.each do |list| %>
										<div class="col-md-4 col-sm-4">
											<div class="form-group">
												<div class="checkbox">
													<%= check_box_tag("wish_list[list_ids][]", list.id) %>
													<label><%= list.name %></label>
												</div>
											</div>
										</div>
						    <% end %>
							</div>
		        <%= f.submit 'Save', class: 'btn btn-primary sm-account-btn' %>
	        <% end %>
	      <% else %>
	      	<p>You dont have any list available. Please create a list.</p>
				<% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.edit-user-review').click(function(){
			$('.user-review').addClass("hidden");
			$('#show-rating').addClass("hidden");
			$('.edit-review').removeClass("hidden");
		});

		$(".cancel-btn" ).click(function() {
			$('.user-review').removeClass("hidden");
			$('#show-rating').removeClass("hidden");
			$('.edit-review').addClass("hidden");
		});

		$('.add-new-review').click(function(){
			$('.add-new-review').addClass("hidden");
			$('.new-review').removeClass("hidden");
		});

		$(".cancel-new-review-btn" ).click(function() {
			$('.add-new-review').removeClass("hidden");
			$('.new-review').addClass("hidden");
		});

		$('#rating').raty({
			starOff : '../assets/star-off.png',
			starOn  : '../assets/star-on.png'
		});

		<% @all_reviews.each do |review|%>
			$('#users-rating-<%= review.id %>').raty({
				readOnly: true,
				score: '<%= review.rating.to_i %>',
				starOff : '../assets/star-off.png',
				starOn  : '../assets/star-on.png'
			});
		<% end %>

		$('#total-rating').raty({
			readOnly: true,
			half: true,
			score: '<%= @rating %>',
			starHalf : '../assets/star-half.png',
			starOff : '../assets/star-off.png',
			starOn  : '../assets/star-on.png'
		});

		<% if current_user.present? %>
			<% rate = Review.where(user_id: current_user.id, product_id: @product.id).first %>
			<% if rate.present? %>
				$('#update-rating').raty({
					score: '<%= rate.rating.to_i %>',
					starOff : '../assets/star-off.png',
					starOn  : '../assets/star-on.png'
				});

				$('#show-rating').raty({
					readOnly: true,
					score: '<%= rate.rating.to_i %>',
					starOff : '../assets/star-off.png',
					starOn  : '../assets/star-on.png'
				});
			<% end %>
		<% end %>
	});
</script>

<!-- <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); 
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=239758226443634";
  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script> -->

