<% if @review.save %>
	$('.user-review').removeClass("hidden");
	$('.edit-review').addClass("hidden");
	toastr["info"]("Review updated successfully!")
	window.location.href = "<%= request.referer %>";
<% else %>
	toastr["error"]("Empty review can't be saved!")
<% end %>