<!-- /.droppingo-doc -->
<div class="droppingo-doc">
	<div class="banner-after-content aboutus-doc">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>About Us</h1>
						</div>
						<div class="droppingo-doc-detail bac-detail">
							<p>Droppingo.com is a wholly owned subsidiary of Droppingo,  Droppingo.com leverages the power of the Droppingo brand to offer online customers the Web's premier destination for books, eBooks, magazines, and related products and services.</p>
							<label>The Internet's Largest Bookstore</label>
							<p>Taking advantage of vast warehouses across the Pakistan, we stock over 1 million titles for immediate delivery -- that's more titles than any other online bookseller.<br>With so many titles, it is vital to give customers an easy way to find precisely the books they are looking for. Our search engine enables customers to locate books by title, author, or keyword in a few seconds at most. Customers with a general idea of what they want can use our Browse pages to sift through hundreds of categories to find exactly the right book. As the ultimate destination for book lovers, Droppingo.com offers an incredible array of content.</p>
							<label>More than Books</label>
							<p><b>Droppingo Study Abroad</b> Droppingo has played a major role in international education. We are one of the leading overseas education consultants based in Pakistan and have site office in France and Spain; we have the answers to all your questions about studying abroad. With 100's successful placements to quality institutes in France, Spain, Germany, Italy e.t.c, Droppingo remains dedicated towards being a comprehensive one-stop consultant for all those who wish to study overseas. Droppingo has plans to open office in different cities of Pakistan to provide best in class study abroad counseling to students. At Droppingo we have expert destination counselors who can guide students through each step, from choosing the best course to submitting your university application as well as helping them through the visa requirements. In short, Droppingo ensures that you are well prepared for a new life in a new country..</p>
							<p><b>Droppingo Student Membership</b> We are the largest member-based organisation of School, College and University students in Pakistan, with 1,000,000+ members nationally. By allowing students to form and feel part of a larger collective, we are able to harness the power of the student community to support each other and give Pakistan's youth an advantage. Droppingo Students well known for its amazing discounts which can be redeemed upon presentation of the Student Edge app or discount card.</p>
							<p><b>Publish with Droppingo</b>  offers unparalleled flexibility, ease, and control, when it comes to Publishing your work. Whether you're looking to print a few copies to publishing full editions of a new book from scratch we have a team of dedicated publishing consultants to assist you with every step of your printing process.</p>
							<h4>Our Vision</h4>
							<p>A world where students are empowered and supported to make great life choices.</p>
							<p>We improve and enrich the lives of students by:</p>
							<p><b>Inspiring</b> them to get motivated and do something great with their lives, through:</p>
							<ul class="droppingo-doc-list">
								<li>Articles on living well, solving student challenges and achieving life goals</li>
								<li>Stories and videos featuring successful Pakistanis</li>
								<li>Career videos</li>
							</ul>
							<p><b>Supporting</b> them with discounts and a platform to share their opinions, through:</p>
							<ul class="droppingo-doc-list">
								<li>Hundreds of retail and online deals that assist members with the cost of living</li>
								<li>Surveys and focus groups</li>
								<li>Writing challenges</li>
								<li>Writing cadetships</li>
								<li>‘Your say’ competitions</li>
								<li>Forums to explore key challenges faced by youth</li>
							</ul>
							<p><b>Empowering</b> them with useful information to make great life choices, through:</p>
							<ul class="droppingo-doc-list">
								<li>100+ school visits per year</li>
								<li>Job listings and tips</li>
								<li>Career tips</li>
								<li>The latest news stories, on everything from politics to pop culture</li>
								<li>Life hacks and ‘cheat sheets’ on a broad range of issues, from study to financial management</li>
							</ul>
							<h4>Our Values</h4>
							<ul class="droppingo-doc-list">
								<li><b>Students First</b> – Because our members are at the forefront of everything we do.</li>
								<li><b>Leadership</b> – Because we believe in driving change for the better.</li>
								<li><b>Empowerment</b> – Because knowledge is a great enabler.</li>
								<li><b>Collaboration</b> – Because together we can achieve more.</li>
								<li><b>Community</b> – Because there is value in belonging.</li>
								<li><b>Accountability</b> – Because ownership means taking responsibility.</li>
								<li><b>Integrity</b> – Because without trust there is nothing.</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- /.droppingo-doc -->

