<div class="main-content bulkOrder-content">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Bulk Order Discounts – FAQs</h1>
						</div>
						<div class="bac-detail">
							<h4>About Bulk Ordering</h4>
							<h5>Placing a Bulk Order on Droppingo</h5>
							<p>For assistance with placing a bulk order, please contact our Business Support Department on <a href="#">help@droppingo.com</a></p>
							<p>If you would like to place a bulk order, please fill out the Request for Pricing form completely, including the following details</p>
							<ul class="publish-follow-list dashes-list">
								<li>Name, phone number, and company/institution.</li>
								<li>Date when the titles need to arrive (MM/DD/YYYY) - Full date required.</li>
								<li>Ship-to address (including City & Province)</li>
								<li>If you plan to pay with a Purchase Order, please mention that in the "Additional Message" section of the Request for pricing form.</li>
							</ul>
							<p>Depending on current volume Droppingo Customer Service will respond within 1 Business Day from receipt of your request. (Response time may increase or decrease depending on the size of the request).</p>
							<h5>Accepted Payment Methods</h5>
							<p>Droppingo accepts all major credit cards, debit cards, pay orders, cheques and online bank transfers. In addition, schools and institutions may purchase on a purchase order.</p>
							<h5>Purchase Orders</h5>
							<p>When ordering on Droppingo.com, please mention that in the "Additional Message" section of the Request for Pricing form.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>