<!-- /.droppingo-doc -->
<div class="droppingo-doc">
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Account Password Reset</h1>
						</div>
						<div class="droppingo-doc-detail bac-detail">	
							<h4>Follow the steps below to reset your Dropping.com account password:</h4>
							<ul class="droppingo-doc-list decimal-list forgotPassword-list">
								<li>
									Click "Sign In" at the top of <a href="#">Droppingo.com.</a>  This opens the "Sign In or Create Account" window.  Click the "Forgot your Password" link, shown below.
									<span class="forgotPassword-img"><%= image_tag 'fp-img.png', alt: 'IMG' %></span>
								</li>
								<li>Enter the email address of the Droppingo.com account that you want to change the password to, and then click "Continue".</li>
								<li>
									You are sent an automated email with a password reset link which you can use to reset your password. 
									<p><b>Please note:</b> The email contains a password reset link that expires if it is not used within 24 hours. If you do not use the reset link within 24 hours of receiving the email, you can try again by starting from Step 1</p>
								</li>
								<li>After receiving and opening the email, follow the instructions and click the password reset link to be redirected to a page where you can create a new password.</li>
							</ul>
							<p>If you didn't receive a password reset email after completing the above steps, please email our customer support on help@droppingo.com</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- /.droppingo-doc -->

	