<div class="main-content publisher-content">
	<!-- /.banner-publisher -->
	<div class="banner-site banner-publisher">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="diagram-publisher">
						<div class="diagram-publisher-top">
						</div>
						<div class="diagram-publisher-bottom">
						</div>
						<h1>Privacy Policy</h1>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- /.banner-publisher -->
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Droppingo Privacy Policy</h1>
						</div>
						<div class="bac-detail">
							<p>As a registered member of the Droppingo network, you will be entitled to savings and benefits on purchase of books and other items. In addition, you can look forward to receiving periodic newsletters and exclusive promotions offering special deals.
							That's why we've provided this Privacy Policy that sets forth our policies regarding the collection, usage and protection of personal information of those using the Droppingo family websites. Personal information means information that can be linked to a specific individual, such as name, address, telephone number, email address and credit card number.
							We encourage you to review our Privacy Policy and become familiar with it, but please note that we review our Privacy Policy from time to time, and we may make periodic changes to the policy in connection with that review. Therefore, you may wish to bookmark this page and/or periodically review this page to make sure you have the latest version.</p>
							<h4>This Privacy Policy explains the following: </h4>
							<h4>What personal information does Droppingo collect from me and how do you use it?</h4>
							<p>When browsing our site, you are not required to provide any personal information until you choose to make a purchase or sign up for one of our email newsletters. In order to purchase a book through our site, you must provide us with certain personal information such as your name, debit/credit card number and expiration date, debit/credit card billing address, telephone number and email address. We require this information to process and fulfil your transaction and keep you informed of each transaction's status.
If you choose to become a registered member of Droppingo network, you must provide your name, address, email address and password. This information is collected through the registration form for several reasons including but not limited to:</p>
							<ul>
								<li>
									To allow us to contact you for customer service purposes, if necessary.
								</li>
								<li>
									To customize the content of our site to strive to meet your specific needs.
								</li>
								<li>
									To make product or other improvements to our site.
								</li>
							</ul>
							<p>In addition, we need your email address to confirm your new member registration. As a Droppingo.com member, you will also occasionally receive updates from us about book sales and promotions, special offers, new Droppingo.com services, and other noteworthy items. However, you may choose at any time to no longer receive these email messages. Please see our 'Opt Out Policy' described below for details.</p>
							<h4>Other Third Parties/Select Partners</h4>
							<p>From time to time, we might establish a business relationship with other persons or entities whom we believe are trustworthy and whom we have asked to confirm that their privacy policies are substantially consistent with ours. These are known as our Select Partners. In such cases, we might share and cross-reference information, including personal information about you that will enable such persons or entities to contact you regarding products and services that may be of interest to you. We may also combine your personal information with publicly available information and information we receive from or cross-reference with our Select Partners and others. We use that combined information to enhance and personalize your shopping experience with us, to communicate with you about our products and services that may be of interest to you and for further promotional purposes. If you do not want us to share information with Select Partners, please opt out by emailing us accordingly.</p>
							<h4>Logging of Session Data</h4>
							<p>We automatically log generic information about your computer's connection to the Internet, which we call 'session data', that is anonymous and not linked to any personal information. Session data consists of things such as IP address, operating system and type of browser software being used, and the activities conducted by the user while on Droppingo family websites. We collect session data because it helps us analyse such data as what items visitors are likely to click on most, the way visitors are clicking through the site, how many visitors are surfing to various pages on the site, for how long visitors to the site are staying, and how often they are visiting. It also helps us diagnose problems with our servers and lets us better administer our systems.</p>
							<h4>Cookies</h4>
							<p>'Cookies' are small pieces of information that are stored by your browser on your computer's hard drive. There are many myths circulating about cookies, but you should know that cookies are only read by the server that placed them, and are unable to do such things as run programs on your computer, plant viruses or harvest your personal information. First and foremost, you can rest assured that no personally identifiable information (PII) about you (e.g., name, address, etc.) is gathered or stored in the cookies placed by the Droppingo.com website and, as a result, none can be passed on to any third parties. Cookies allow us to serve you better and more efficiently, and to personalize your experience at our site.</p>
							<h4>What safeguards we have in place to protect your personal information?</h4>
							<p>Droppingo.com DOES NOT store any credit/debit/net banking information. Droppingo.com only captures the shipping information and email details of the user. These details are not shared with any other party.</p>
							<h4>What other information should I know about my privacy?</h4>
							<p>Droppingo websites contains links to other websites. Please note that when you click on one of these links, you are entering another web site for which Droppingo.com assumes no responsibility. We encourage you to read the privacy statements of all such sites as their policies may be materially different from the Droppingo Privacy Policy. Of course, you are solely responsible for maintaining the secrecy of your passwords, and your Droppingo membership account information.<br>
							In addition to the circumstances described above, Droppingo may disclose the site member information if required to do so by law, court order, as requested by other government or law enforcement authority, or in the good faith belief that disclosure is otherwise necessary or advisable including, without limitation, to protect the rights or properties of Droppingo.com or when we have reason to believe that disclosing the information is necessary to identify, contact or bring legal action against someone who may be causing interference with our rights or properties, whether intentionally or otherwise, or when anyone else could be harmed by such activities.
							Of course, you may always submit concerns regarding our Privacy Policy or our privacy practices via email to <a href="#">help@Droppingo.com</a>. Please reference Privacy Policy in your subject line. Droppingo will attempt to respond to all reasonable concerns or inquiries within five business days of receipt.</p>
							<h4>Thank you for using the Droppingo network!</h4>
							
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>