<!-- /.droppingo-doc -->
<div class="droppingo-doc">
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Publish with Droppingo FAQs</h1>
						</div>
						<div class="droppingo-doc-detail bac-detail">
							<label>What are the benefits of Publishing with Droppingo?</label>
							<p>Droppingo offers unparalleled flexibility, ease, and control, when it comes to Publishing your work. Whether you're looking to print a few copies to publishing full editions of a new book from scratch we have a team of dedicated publishing consultants to assist you with every step of your printing process.</p>
							<label>Who Publishes my Book?</label>
							<p>Droppingo does the Publishing via our Publishing Houses. Our publishing team analyses your manuscript and decides whether you can publish your book via Droppingo or opt for Self-Publishing. In most cases Droppingo does the Publishing, Distribution and Sales of your book but depending on your manuscript you will have an option to either choose one of our designated Partner Publishers or Self-Publish the book yourself</p>
							<label>What is Self-Publishing?</label>
							<p>Self-publishing is the fastest growing segment of the publishing industry; authors find it attractive for many reasons. Unlike using traditional publishing companies, self-publishing allows the author to be in control of the entire creative and selling process.</p>
							<p>As a self-published author, you pay the full cost of producing your work and are responsible for marketing and distribution. Therefore, the finished copies, the copyright, all subsidiary rights, and all profits are exclusively yours.</p>
							<label>Can I sell my Book on Droppingo?</label>
							<p>Yes of course you can! Once your book is published you can sell it with us on Droppingo.com. We're proud to carry many self-published books on consignment, on our website (saving you the hassle of post offices and packing tape). For more information on selling your book on Droppingo please fill out our <a href="#">Contact Us</a> form and someone from our team will get in touch with you to discuss this in further detail.</p>
							<label>What type of book can I print? </label>
							<p>Droppingo produces perfect-bound paperbacks. This means that they have a glued spine, just like most of the paperbacks on the shelves of book stores. The interior pages are black and white and the cover is full-color.</p>
							<label>How much do the books cost to print?</label>
							<p>Printing costs vary from author to author, depending on the length of your book and which services you’re requesting. <a href="#">Contact Us</a> to get an estimate for your project.</p>
							<label>Do I receive a discount for larger quantities of books? </label>
							<p>Yes. We offer bulk discounts for authors who want to print larger quantities.</p>
							<label>How quickly will my book be produced? </label>
							<p>The turn-around time for self-published works depends on the quality of your book files, the size of your order, and the current state of our printing presses. We don't make any promises about scheduling until we have your files in hand, and have established that they're print-ready. If we notice any problems with your files, we’ll do our best to help you fix them quickly. If your files are print-ready, then we can usually print a proof copy of your book within 7-10 business days. Once you’ve examined your proof copy and are ready to place an order, the approximate time is usually as follows</p>
							<p>Upto 300 Copies – 1 – 3 weeks</p>
							<p>300 – 1000 Copies – 2 – 4 weeks </p>
							<p>1000 – 2000 Copies – 3 – 4 weeks</p>
							<p>2000 + Copies – 1 – 2 Months</p>
							<p>If you need an order filled by a particular time, please let us know and we’ll do our best to meet your needs. Please give us as much advance notice as possible, and note that the above timeframes are only estimates. Often we can print books more quickly; we just don't like to make promises we can't keep. If your files are print-ready and you need them quickly but our printing presses are full, we may be able to accommodate you for an extra rush charge.</p>
							<label>Do I have to come into the Droppingo Press to print my book and/or pick up my copies? </label>
							<p>Not at all! You can submit your files electronically, and we can ship your books to your desired location (shipping rates apply).</p>
							<label>I need help with editing & design, can you help? </label>
							<p>We offer a wide range of design services. If you'd like a more personalized custom design, we're happy to point you in the direction of some wonderful freelance designers who would love to work with you. We can also direct you to some freelance editors and copyeditors.</p>
							<label>Do I need an ISBN to print my book?</label>
							<p>You do not need an ISBN to have your book printed with Droppingo, but having one might be useful depending on what you plan to do with your book. If you are printing your work for personal use only, then an ISBN is unnecessary. However, if you plan to sell your book elsewhere (through other stores or websites) then you may need one. </p>
							<label>What is an ISBN? </label>
							<p>To learn more about ISBNs, see our <a href="#">Publisher & Author Guidelines.</a> </p>
							<label>Who controls the copyright of my book?</label>
							<p>You do. That is one of the great merits of self-publishing. Your work is under the copyright law protection the moment it is created and fixed in a tangible form that it is perceptible either directly or with the aid of a machine or device. We do not register your work with the Copyright Office, but you may choose to register your work if you wish. In general, copyright registration is a legal formality intended to make a public record of the basic facts of a particular copyright. However, registration is not a condition of copyright protection. </p>
							<label>Can I sell my book at other retailers?</label>
							<p>Yes, we do not require you to sell or print your books exclusively at Droppingo. You may make arrangements to sell your book anywhere else you'd like, in stores, on your own website, or through other online retailers.</p>
							<label>How is the retail price of my book set? </label>
							<p>You set your own retail price. Some authors choose to have this printed on their cover itself, others prefer to leave it off in case they need to charge more or less in different contexts.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.droppingo-doc -->

	