<div class="main-content publisher-content">
	<!-- /.banner-publisher -->
	<div class="banner-site banner-publisher">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="diagram-publisher">
						<div class="diagram-publisher-top">
						</div>
						<div class="diagram-publisher-bottom">
						</div>
						<h1>Publisher & Author Guidelines</h1>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- /.banner-publisher -->
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Publisher/Author Guidelines</h1>
						</div>
						<div class="bac-detail">
							<h4>Consideration for Product Listing on Droppingo.com</h4>
							<p>Publisher/Author who would like Droppingo to consider their title(s) for sale on Droppingo.com should complete the attached document entitled publisher information from...</p>
							<h4>How to Submit Content</h4>
							<p>Content has two primary categories at Droppingo.com: bibliographic data (title, author, etc.) and merchandising data (description, cover image, etc.). Once you have become a Vendor of Record ...</p>
							<h4>Publisher/Author Guidelines</h4>
							<p>If you are a publisher who would like to sell your books on Droppingo.com, you must become a Vendor of Record with our warehouse ...</p>
							<h4>Droppingo's Returnable Terms for Publisher and Author Titles</h4>
							<p>Droppingo's returnable terms indicate that we can return your titles at any time, for any reason, in any condition, without return authorization, and up to ... </p>
							<h4>As an author, how do I get my book reviewed or recommended on Droppingo.com?</h4>
							<p>Titles that are reviewed on Droppingo.com are independently chosen. Our editors at Droppingo reach out to publishers when they are interested in a book. The recommendations ... </p>
							<h4>Droppingo.com Pricing</h4>
							<p>Droppingo.com uses a combination of proprietary pricing technology and merchant planning to set a price for all products on the website. Prices are set irrespective ... </p>
							<h4>Correct or Update Product Page Information</h4>
							<p>Authors can submit corrections and updates regarding their published book by emailing corrections@droppingo.com. Be sure to include the ... </p>
							<h4>Sales data for Authors and Publishers</h4>
							<p>Droppingo.com supplies sales data directly to the Publishers & Authors at the end of each month. However, if you need further information ... </p>
							<h4>Out of Stock Titles</h4>
							<p>If your title is in our database, Droppingo.com will show it with an add to bag button if stock is ON HAND in Droppingo's distribution centre or in one </p>
							<h4>Content Corrections</h4>
							<p>If you have corrections for Books, please email them to corrections@droppingo.com. Remember to include the ISBN in all your correspondence and to be specific ... </p>
							<h4>Publishers Submitting an Author Bio</h4>
							<p>Author bios, or "Meet the Author" summaries, can be submitted via email to titles@droppingo.com. Please be sure to include a list of ...</p>
							<h4>New Release Section Placement for Authors and Publishers</h4>
							<p>Titles that are placed in the New Releases section are independently chosen. The Droppingo editors reach out to publishers when they are interested in a ...</p>
							<h4>How to obtain an ISBN</h4>
							<p>ISBN stands for International Standard Book Number.  We use ISBNs to track inventory and sales information. All books Droppingo transacts on must have ... </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>

<!-- =========== MODAL ================= -->
<div class="modal fade publisher-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content loginform-blog">
      <div class="modal-header loginform-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="display: inline-block; width: 100%;">
      	<h4>Consideration for Product Listing On Droppingo.com</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		// $('.publisher-modal').modal('show');
	});
</script>