<div class="main-content request-faqs faqs-content">
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Request a Book</h1>
						</div>
						<div class="bac-detail">
							<h4 style="margin-bottom: 15px;">Requesting a Book on Droppingo</h4>
							<h5>What is "Request a Book"?</h5>
							<p>Request a book is a feature by Droppingo.com which you can use to place a request for any books you're unable to find on our website. Our team will do the searching for you and arrange you desired books.</p>
							<h5>How to request a book?</h5>
							<p>If you would like to request a book using Droppingo.com, please fill out the "Request a Book" form completely, including the following details</p>
							<ul class="publish-follow-list dashes-list">
								<li>Book Title / Book Name</li>
								<li>Name of the Author</li>
								<li>Your Full Name</li>
								<li>Your Email ID</li>
								<li>Your Mobile Number</li>
								<li>Any Additional Comments</li>
							</ul>
							<p>After completing the form click the submit button to send the request.</p>
							<h5>What happens next?</h5>
							<p>After you have submitted the "Request a book" form our team at Droppingo get down to work to find the requested book throughout our different suorces all over the country. As soon as the book is found we get in touch with you to arrange delivery. Its that Simple!</p>
							<h5>Do I Have to Pay for the Service?</h5>
							<p>No, The service is free to use and you only pay the price of the book once it has been sourced.</p>
							<h5>How long does it take Droppingo to find the Book?</h5>
							<p>It usually takes us 1 - 2 weeks to source most books however in some cases it might take us a bit longer. You can enquire about the status of your request by sending us an email on support@droppingo.com </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>