<div class="main-content shipping-content">
	<!-- /.banner-publisher -->
	<div class="banner-site banner-publisher">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="diagram-publisher">
						<div class="diagram-publisher-top">
						</div>
						<div class="diagram-publisher-bottom">
						</div>
						<h1>SHIPPING & DELIVERY GUIDELINES</h1>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- /.banner-publisher -->
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Shipping & Delivery</h1>
						</div>
						<div class="bac-detail">
							<h4>Returns and Exchange Policies</h4>
							<p>Returns and / or Exchanges are only accepted for Books in case you've received a different product than you ordered, or if the product you've ordered is not in ... </p>
							<h4>Delivery Expectations and Shipping Rates</h4>
							<p>We do our best to estimate delivery dates for your purchase.The estimated date of delivery of your Droppingo.com order and the cost of shipping depends on which Delivery ...</p>
							<h4>Free Shipping Requirements</h4>
							<p>All Droppingo.com orders for eligible items totalling Rs. 1000 or more qualify for Free Standard Shipping within Pakistan ...</p>
							<h4>About Order Status Emails</h4>
							<p>When you complete your order on Droppingo.com, we update you on the status of your order by email. These emails include, but are not limited to ...</p>
							<h4>Shipping Items with Different Expected Delivery Times</h4>
							<p>If your Shopping Bag contains items with different expected delivery times, you will have the opportunity to choose your delivery preference from ... </p>
							<h4>Can the Free Shipping program be changed or discontinued?</h4>
							<p>Droppingo.com may change or discontinue Free Shipping at any time in its sole discretion. However, you would still receive Free Shipping for any eligible ...  </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>