<div class="main-content shipping-content">
	<!-- /.banner-publisher -->
	<div class="banner-site banner-publisher">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="diagram-publisher">
						<div class="diagram-publisher-top">
						</div>
						<div class="diagram-publisher-bottom">
						</div>
						<h1>SHIPPING RATES</h1>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- /.banner-publisher -->
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>Shipping Options</h1>
						</div>
						<div class="bac-detail">
							<h4>Shipping Option 1</h4>
							<ul class="droppingo-doc-list">
								<li>
									Standard Shipping via Pakistan Post
								</li>
								<li>
									Delivered In 4 – 8 Working Days at Your Doorstep
								</li>
								<li>
									Standard Shipping Rate of Rs. 150 for orders below Rs. 1000
								</li>
								<li>
									Applicable for Orders Upto the Value of Rs. 20,000
								</li><li>
									FREE Shipping on orders over Rs. 1000
								</li>
								<li>
									Non-Trackable Shipping
								</li>
							</ul>
							<h4>Shipping Option 2</h4>
							<ul class="droppingo-doc-list">
								<li>
									Express Shipping via OCS or Leopards Courier
								</li>
								<li>
									Delivered In 2 – 5 Working Days at Your Doorstep
								</li>
								<li>
									Express Shipping Rate of Rs. 250 for orders Upto the value of Rs. 5000
								</li>
								<li>
									Express Shipping Rate of Rs. 350 for orders over the value of Rs. 5000
								</li><li>
									Applicable for all orders
								</li>
								<li>
									Trackable Shipping
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>