<!-- /.droppingo-doc -->
<div class="droppingo-doc">
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>What is Droppingo Student Membership?</h1>
						</div>
						<div class="droppingo-doc-detail bac-detail">
							<p>Welcome to Droppingo Students.</p>
							<p>We are the largest member-based organisation of School, College and University students in Pakistan, with 1,000,000+ members nationally.</p>
							<h4>Our Aims</h4>
							<ul class="droppingo-doc-list decimal-list">
								<li>To help students save money and better manage their finances.</li>
								<li>To offer students amazing deals, offers & discounts on the brands they love.</li>
								<li>To help students find jobs.</li>
								<li>To help students make well-informed career and life choices.</li>
							</ul>
							<p>In short, we exist to help students.</p>
							<p>By allowing students to form and feel part of a larger collective, we are able to harness the power of the student community to support each other and give Pakistan's youth an advantage.</p>
							<p>Droppingo Students well known for its amazing discounts which can be redeemed upon presentation of the Student Edge <a href="#">app</a> or discount card.</p>
							<p>But Student Edge does so much more than that.</p>
							<h4>Our Vision</h4>
							<p>A world where students are empowered and supported to make great life choices.</p>
							<p>We improve and enrich the lives of students by:</p>
							<p><b>Inspiring</b> them to get motivated and do something great with their lives, through:</p>
							<ul class="droppingo-doc-list">
								<li>Articles on living well, solving student challenges and achieving life goals</li>
								<li>Stories and videos featuring successful Pakistanis</li>
								<li><a href="#">Career videos</a></li>
							</ul>
							<p><b>Supporting</b> them with discounts and a platform to share their opinions, through:</p>
							<ul class="droppingo-doc-list">
								<li>Hundreds of <a href="#">retail and online deals</a> that assist members with the cost of living</li>
								<li>Surveys and focus groups</li>
								<li><a href="#">Writing challenges</a></li>
								<li>Writing cadetships</li>
								<li>‘Your say’ <a href="#">competitions</a></li>
								<li>Forums to explore key challenges faced by youth</li>
							</ul>
							<p><b>Empowering</b> them with useful information to make great life choices, through:</p>
							<ul class="droppingo-doc-list">
								<li>100+ <a href="#">school visits</a> per year</li>
								<li><a href="#">Job listings and tips</a></li>
								<li><a href="#">Career tips</a></li>
								<li>The latest news stories, on everything from politics to pop culture</li>
								<li><a href="#">Life hacks</a> and ‘cheat sheets’ on a broad range of issues, from study to financial management</li>
							</ul>
							<h4>Our Values</h4>
							<ul class="droppingo-doc-list">
								<li><b>Students First</b> – Because our members are at the forefront of everything we do.</li>
								<li><b>Leadershipp</b> – Because we believe in driving change for the better.</li>
								<li><b>Empowerment</b> – Because knowledge is a great enabler.</li>
								<li><b>Collaboration</b> – Because together we can achieve more.</li>
								<li><b>Community</b> – Because there is value in belonging.</li>
								<li><b>Accountability</b> – Because ownership means taking responsibility.</li>
								<li><b>Integrity</b> – Because without trust there is nothing.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.droppingo-doc -->
