<div class="main-content publisher-content">
	<!-- /.banner-publisher -->
	<div class="banner-site banner-publisher">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="diagram-publisher">
						<div class="diagram-publisher-top">
						</div>
						<div class="diagram-publisher-bottom">
						</div>
						<h1>Terms & Conditions</h1>
					</div>
				</div>
			</div>
		</div>
		<ul class="overlay-sm-links">
			<li><a href="<%= SocialShare.first.fb_link %>" class="facebook-bg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.instagram_link %>" class="instagram-bg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.twitter_link %>" class="twitter-bg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="<%= SocialShare.first.pinterest_link %>" class="pinterest-bg" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<!-- /.banner-publisher -->
	<!-- /.banner-after-content -->
	<div class="banner-after-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="bac-left bac-left-common">
						<div class="bac-heading">
							<h1>General Terms and Conditions-Droppingo</h1>
						</div>
						<div class="bac-detail">
							<p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the <a href="#">www.droppingo.com</a> (website) operated by Droppingo ("us", "we", or "our").
							Welcome to Droppingo. Droppingo website is owned and operated by Droppingo Private Limited. By using this website you undertake that you have read, understood and agree to these terms and conditions. We can update and/or change these terms at any time. By using this website you also agree that you don’t have any objection to updated and/or changed terms and conditions when you visit it under new terms and conditions in future. If you do not agree, you must refrain from using this website.</p>
							<h4>Your Account </h4>
							<p>If you choose to create an account at this Website, you are responsible for maintaining the confidentiality of your account name/number, password, ID and any other details and for all activities under your account. Any unauthorized use of your account or other breach of security should be reported to Droppingo immediately. Your registration is personal to you and you may not disclose or make available your account name, ID or password to others. Any disclosure by you of your account name and password may result in termination of your registration and, where you register for fee; such termination shall be without refund and may be subject to additional charges based on unauthorized use. </p>
							<h4>Purchases</h4>
							<p>If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card details, name, address etc.
							(The Purchases section is for businesses that sell online physical or digital)</p>
							<h4>Subscriptions</h4>
							<p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on the subscriptions.</p>
							<h4>Privacy</h4>
							<p>We may need to know your information including but not limited to your name, address and email address to provide you with information, reply to your queries etc. We collect this information according to our Privacy Policy. Please read our Privacy Policy.</p>
							<h4>Website Access</h4>
							<p>Droppingo gives you a limited, non-transferable, non-exclusive, revocable permission to access and make personal use of this site and site content for purposes specified on this website only. Any other use of site content other than those noted above, modification, distribution, transmission, downloading of site content (other than page caching), is prohibited without the prior written consent of Droppingo.</p>
							<h4>Copyright</h4>
							<p>All rights in this website and its content (including but not limited to any patent, trade mark, text, photographs, graphics, software, moral rights, know how, trade secret and other confidential information) are the property of Droppingo. In accessing this website and the materials on or accessible via it, you agree that these may not be copied, distributed, published, licensed, used or reproduced in any way (save to the extent strictly necessary for, and for the purposes of, accessing and using this website).</p>
							<h4>Pricing</h4>
							<p>On our website you will see two prices, one by Publisher in their currency and the other offered by Droppingo in Pakistan rupees. We try our level best that both prices are accurate and are the prices available anywhere with the publishers or Droppingo outlets. However, it cannot be guaranteed. Any or both prices may change without prior notice.</p>
							<h4>Links to Third Party Website(s)</h4>
							<p>This Website may include links to third party website(s) that are controlled and maintained by others. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s). You further acknowledge and agree that Droppingo shall not be responsible or liable, directly or indirectly, for any Damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
							<h4>Comments and Reviews</h4>
							<p>You may post comments in the comment area and/or book reviews on this website so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation etc. "You also grant us a non-exclusive, perpetual, royalty-free, worldwide license to republish in any format any material (including but not limited to print and electronic format) that you submit to us. You indemnify Droppingo for all claims resulting from content you supply. We have the right but not the obligation to monitor and edit or remove any activity or content. We accept no liability in respect of any material submitted and published by us and are not responsible for its contents or accuracy. </p>
							<h4>International Use</h4>
							<p>If you access this website from locations outside Pakistan it is your own initiative and you are responsible for compliance with local laws.</p>
							<h4>Limitation of Liability </h4>
							<p>This website is provided on an “AS IS” basis unless otherwise specified in writing. We make no representations or warranties of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy. Except to the extent permitted by law, Droppingo will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website. Droppingo makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.</p>
							<h4>Changes</h4>
							<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
							<h4>Applicable Law and Disputes</h4>
							<p>This Agreement and the operation of these terms shall be governed by the laws of Pakistan whose courts shall have exclusive jurisdiction over all disputes arising in connection with this Agreement and the agreed place of performance of this Agreement is Pakistan.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="bac-right bac-right-common">
						<div class="other-faqs">
							<h1>Other FAQS</h1>
							<ul class="otherFaqs-list">
								<li><a href="<%= student_membership_faqs_requests_path %>">Student Membership</a></li>
								<li><a href="<%= publish_faqs_requests_path %>">Publish with Droppingo</a></li>
								<li><a href="<%= request_book_faqs_requests_path %>">Request a Book</a></li>
								<li><a href="<%= publisher_author_guidelines_faqs_requests_path%>">Publisher & Author Guidelines</a></li>
								<li><a href="<%= forget_password_faqs_requests_path %>">Forgot Password</a></li>
								<li><a href="<%= bulk_order_info_path %>">Bulk Order Discounts</a></li>
								<li><a href="<%= shipping_delivary_faqs_requests_path %>">Shipping & Delivery</a></li>
							</ul>
						</div>
						<div class="contact-publisher">
							<h1>Contact Us</h1>
							<ul class="contactUs-list">
								<li class="cl-mail"><a href="#">Email Us</a></li>
								<li class="cl-phone">
									<a href="#">Call Us</a>
									<p><span>If you can't find what you're looking for, contact our Customer Service on 03-111-123-456</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.banner-after-content -->
</div>