<!-- /.footer -->
<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="ft-inner-gradient">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="ft-container">
							<div class="ft-img">
								<%= image_tag("ft-1.png", alt: "IMG")%>
							</div>
							<div class="ft-detail">
								<label class="footer-label">REQUEST A BOOK</label>
								<p>CAN'T FIND A BOOK? LET US DO THE SEARCHING</p>
								<a href="<%= new_book_request_path %>">FIND NOW ></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="ft-container">
							<div class="ft-img">
								<%= image_tag("ft-2.png", alt: "IMG")%>
							</div>
							<div class="ft-detail">
								<label class="footer-label">STUDY ABROAD</label>
								<p>A WHOLE WORLD OF OPPORTUNITIES AWAITS YOU</p>
								<a href="<%= study_abroad_path %>">Apply NOW ></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="ft-container">
							<div class="ft-img">
								<%= image_tag("ft-3.png", alt: "IMG")%>
							</div>
							<div class="ft-detail">
								<label class="footer-label">DROPPINGO PRESS</label>
								<p>WOULD YOU LIKE TO AUTHOR A BOOK? BRING YOUR BOOK TO LIFE</p>
								<a href="<%= publish_request_path %>">learn MORE ></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="ft-container">
							<div class="ft-img">
								<%= image_tag("ft-4.png", alt: "IMG")%>
							</div>
							<div class="ft-detail">
								<label class="footer-label">DROPPINGO Membership</label>
								<p>DON'T MISS OUT ON EXCLUSIVE DISCOUNTS & SAVINGS</p>
								<% if current_user.present? && current_user.student_profile.present? %>
									<a href="<%= student_club_path %>">Sign up ></a>
								<% else %>
									<a href="<%= new_student_membership_path %>">Sign up ></a>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-menu">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="fm-detail">
						<label class="footer-label">DROPPINGO SERVICES</label>
						<ul class="footer-menu-link">
							<li><a href="<%= advertise_path(:main_view => true) %>">ADVERTISE</a></li>
							<li><a href="<%= study_abroad_path %>">STUDY ABROAD</a></li>
							<li><a href="<%= student_membership_faqs_requests_path %>">STUDENT DISCOUNT</a></li>
							<li><a href="<%= publish_request_path %>">PUBLISH WITH DROPPINGO</a></li>
							<li><a href="<%= new_book_request_path %>">REQUEST A BOOK</a></li>
							<li><a href="<%= bulk_order_discounts_requests_path %>">BULK ORDER DISCOUNTS</a></li>
							<li><a href="<%= new_student_membership_path %>">DROPPINGO MEMBERSHIP</a></li>
							<li><a href="<%= publisher_author_guidelines_faqs_requests_path %>">PUBLISHER & AUTHOR GUIDELINES</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="fm-detail">
						<label class="footer-label">SHIPPING & DELIVERY</label>
						<ul class="footer-menu-link">
							<li><a href="<%= shipping_delivary_faqs_requests_path %>">ABOUT FREE SHIPPING</a></li>
							<li><a href="<%= shipping_delivary_faqs_requests_path %>">ABOUT SHIPPING</a></li>
							<li><a href="<%= shipping_rates_faqs_requests_path %>">SHIPPING RATES</a></li>
						</ul>
						<label class="footer-label">CUSTOMER SERVICES</label>
						<ul class="footer-menu-link">
							<li><a href="<%= contact_us_requests_path %>">CONTACT US</a></li>
							<li><a href="<%= privacy_policy_path %>">PRIVACY & COOKIE POLICY</a></li>
							<li><a href="<%= terms_and_conditions_path %>">TERMS & CONDITIONS</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="fm-detail">
						<label class="footer-label">ABOUT US</label>
						<ul class="footer-menu-link">
							<li><a href="<%= aboutus_requests_path %>">ABOUT DROPPINGO</a></li>
							<li><a href="#">INVESTOR RELATIONS</a></li>
							<li><a href="<%= careers_requests_path %>">CAREERS</a></li>
							<li><a href="<%= bulk_order_faqs_requests_path %>">FAQS</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="fm-detail">
						<label class="footer-label">CONNECT WITH US</label>
						<ul class="footer-socialIcons">
							<li><a href="<%= SocialShare.first.fb_link %>" class="footer-facebook"><span class="facebook-color"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>FACEBOOK</a></li>
							<li><a href="<%= SocialShare.first.twitter_link %>" class="footer-twitter"><span class="twitter-color"><i class="fa fa-twitter" aria-hidden="true"></i></span>TWITTER</a></li>
							<li><a href="<%= SocialShare.first.pinterest_link %>" class="footer-pin"><span class="pinterest-color"><i class="fa fa-pinterest" aria-hidden="true"></i></span>PINTEREST</a></li>
							<li><a href="<%= SocialShare.first.instagram_link %>" class="footer-insta"><span class="instagram-color"><%=image_tag('insta-img.png', alt: "IMG", width: 19)%></span>INSTAGRAM</a></li>
							<li><a href="<%= SocialShare.first.youtube_link %>" class="footer-youtube"><span class="youtube-color"><%=image_tag('youtube-img.png', alt: "IMG", width: 18)%></span>YOUTUBE</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-clients">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><%= image_tag("footer-1.png", alt: "IMG")%></li>
						<li><%= image_tag("footer-2.png", alt: "IMG")%></li>
						<li><%= image_tag("footer-3.png", alt: "IMG")%></li>
						<li><%= image_tag("footer-4.png", alt: "IMG")%></li>
						<li><%= image_tag("footer-5.png", alt: "IMG")%></li>
						<li><%= image_tag("footer-6.png", alt: "IMG")%></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
	<!-- /.footer -->

	<script type="text/javascript">
	$(document).ready(function(){ 
	  $('.flexslider').flexslider({
	    animation: "slide",
	    itemWidth: 230,
	    minItems: 2,
			maxItems: 5
	  });
	});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80654329-1', 'droppingo.com');
  ga('send', 'pageview');

</script>