
<header class="header">
	<div class="header-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12">
					<ul class="ht-menu-list">
						<li><a href="<%= root_path %>">Home</a></li>
						<li><a href="<%= aboutus_requests_path %>">About</a></li>
						<li><a href="<%= contact_us_requests_path %>">Contact</a></li>
						<li><a href="<%= blogs_path %>">Blog</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 text-right">
					<p class="getFree-text">
						<span class="basket-text">Spend Rs. 1000.<br> Get Free Delivery</span>
						<span class="cart-span">
							<%= link_to image_tag("cart-img.png"), cart_carts_path %>
							<span class="notific-span"><%= @cart.products.count %></span>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="header-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="site-logo">
						<%= link_to image_tag("logo.png", :width => 120), "/" %>
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="search-bar">
					<!-- 	<form class="pro-search-form">
					    <div class="ps-input-area">
							  <input type="text" class="form-control" placeholder="Search by title, author, or subject">
							  <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
							  <button class="btn btn-default ps-btn" type="button">Search <span><i class="fa fa-search" aria-hidden="true"></i></span></button>
							</div>
						</form> -->
						<form method="get" action="/products" class="pro-search-form" name="productSearchForm">
						  <div class="ps-input-area">
						    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by title, author or subject" %>
					    	<span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
					    	<%= button_tag(type: 'submit', class: "btn btn-default ps-btn", id: 'validForm') do %>
									Search <span><i class="fa fa-search" aria-hidden="true"></i></span>
								<% end %>
						  </div>
						</form>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<% if !current_user %>
						<div class="header-login-btns">
							<div class="dropdown loginform-dropdown">
								<a href="#" class="blue-btn" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">login <span><i class="fa fa-user" aria-hidden="true"></i></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li>
							    	<div class="loginform-blog">
							    		<div class="loginform-heading">
							    			<h4>Sign In or Create an Account</h4>
							    		</div>
							    		<%= form_for :user, remote: true, html: {class: "login-form"}, :url => user_session_path do |f| %>
							    			<div class="form-top">
							    				<div class="ft-left">
							    					<div class="login-errors">
		    				
		    										</div>
							    					<div class="form-group">
															<%= f.email_field :email, class: "form-control input-fields", placeholder: "Email"%>
														</div>
														<div class="form-group">
															<%= f.password_field :password, class: "form-control input-fields", placeholder: "Password" %>
														</div>
													</div>
													<div class="ft-right">
														<%= f.submit 'Sign In', :class => 'blue-btn form-btn' %>
													</div>
												</div>
											<% end %>
											<div class="form-bottom">
												<div class="forgotPassword-link">
						    					<a href="#" data-toggle="modal" data-target="#forgetPasswordModal">Forgot Password?</a>
						    				</div>
						    				<div class="separator-form">
						    					<span>or</span>
						    				</div>
						    				<button class="createAccount-btn" data-toggle="modal" data-target="#myModal">Create An Account</button>
							    		</div>
							    	</div>
							    </li>
							  </ul>
							 </div>
							<a href="#" class="blue-btn" data-toggle="modal" data-target="#myModal">Sign up <span><i class="fa fa-user" aria-hidden="true"></i></span></a>
						<% else %>
							<div class="header-login-btns header-logout-btn">
								<a href="<%= destroy_user_session_path %>" class="blue-btn hlb-logout-btn" data-method="delete">Log out <span><i class="fa fa-user" aria-hidden="true"></i></span></a>
								<a href="<%= user_profile_path %>" class="blue-btn hlb-logout-btn">Dashboard <span><i class="fa fa-user" aria-hidden="true"></i></span></a>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade signup-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content loginform-blog">
	      <div class="modal-header loginform-heading">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 id="myModalLabel">Create An Account</h4>
	      </div>
	      <div class="modal-body">
	    		<%= form_for User.new, remote: true, html: {class: "login-form signup-form", name: "signUpForm"}, :url => user_registration_path, method: :post do |f| %>
	    			<div class="form-top">
	    				<div class="signup-form-descrip top-descrip">
		    				<p>Fill in the fields below to create a Droppingo.com Account.</p>
		    				<p>If you already have an account, please <a href="#">Sign In ></a></p>
		    			</div>
		    			<div class="errors">
		    				
		    			</div>
	    				<div class="row">
	    					<div class="col-md-6 col-sm-6 col-xs-12">
		    					<div class="form-group">
								    <%= f.text_field :first_name, class: "form-control input-fields", placeholder: "First Name"%>
								  </div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <div class="form-group">
								    <%= f.text_field :last_name, class: "form-control input-fields", placeholder: "Last Name"%>
								  </div>
								</div>
	    				</div>
	    				<div class="row">
	    					<div class="col-md-6 col-sm-6 col-xs-12">
		    					<div class="form-group">
								    <%= f.email_field :email, id: "email", class: "form-control input-fields", placeholder: "Email Address"%>
								  </div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <div class="form-group">
								    <%= f.email_field :email_confirmation, id: "confirm_email", class: "form-control input-fields", placeholder: "Re-Enter Email Address"%>
								    <span id='email-message'></span>
								  </div>
								</div>
	    				</div>
	    				<div class="row">
	    					<div class="col-md-6 col-sm-6 col-xs-12">
		    					<div class="form-group">
								    <%= f.password_field :password, id: "password", class: "form-control input-fields", placeholder: "Password" %>
								  </div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <div class="form-group">
								    <%= f.password_field :password_confirmation, id: "confirm_password", class: "form-control input-fields", placeholder: "Confirm Password" %>
								  	<span id='password-message'></span>
								  </div>
								</div>
	    				</div>
	    				<div class="row">
	    					<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
	    						<%= f.submit 'Create An Account', :class => 'blue-btn form-btn' %>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="signup-form-descrip bottom-descrip">
	    				<p>By registering you confirm that you agree to the </p>
	    				<p>Droppingo.com <a href="#">terms & conditions</a></p>
	    			</div>
	    		<% end %>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal -->
	<div class="header-bottom">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-menu dropdown">
		      	<li>
		      		<a href="<%= root_path %>"><i class="fa fa-home" aria-hidden="true"></i></a>
		      	</li>
		      	<% Category.where(parent_id: nil).order(:name).each do |root| %>
			        <li class="atb-list">
			        	<a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= root.name %><span><i class="fa fa-caret-right" aria-hidden="true"></i></span></a>
			        	<ul class="dropdown-menu header-sub-menu" aria-labelledby="dropdownMenu2">
							    <li>
							    	<div class="subMenu-container">
							    		<div class="subMenu-head">
							    			<ul>
							    				<li><a href="#"><%= root.name %></a></li>
							    				<li><a href="<%= products_path(:category_id => root.id) %>">Shop All </a></li>
							    			</ul>
							    		</div>
							    		<div class="scrollbar-submenu" id="style-3">
								    		<div class="subMenu-content">
							    				<%# if root.descendants.count > 10 && root.descendants.count < 80 %>
							    				<div class="newspaper">
							    					<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
							    						<% root.children.each do |child| %>
									    					<div class="box col3">
								    							<a href="<%= products_path(:category_id => child.id) %>"><label><%= child.name %></label></a>
								    							<ul>
								    								<% child.children.each do |sub_child|%>
								    									<li class="unit"><a href="<%= products_path(:category_id => sub_child.id) %>"><%= sub_child.name %></a></li> 
								    								<% end %>
								    							</ul>
									    					</div>
								    					<% end %>
								    				</div>
							    				</div>
							    				<div class="submenu-book-block">
							    					<div class="subMenu-detail gen-list-detail">
							    						<% if Product.product_of_month(root).present? %>
							    							<label>Book of the Month</label>
							    							<span class="buybook-span"><%= image_tag(Product.product_of_month(root).avatar.url, alt:"book-IMG")%></span>
							    							<label><%= Product.product_of_month(root).title %></label>
							    							<a href="<%= product_path(Product.product_of_month(root).id) %>" class="buybook-link">Buy Now</a>
							    						<% end %>
							    					</div>
							    				</div>
								    		</div>
								    	</div>
							    	</div>
							    </li>
						  	</ul>
			        </li>
			      <% end %>
		      </ul>
		      <ul class="nav navbar-nav navbar-right navbar-right-btn">
		        <li><a href="<%= new_book_request_path %>" class="blue-btn">Request a Book <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a></li>
		        <li><a href="<%= study_abroad_path %>" class="red-btn">Study Abroad <span><i class="fa fa-plane" aria-hidden="true"></i></span></a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>

	<!-- Forget Password Modal -->
	<div class="modal sm-modal dashBoard-list-modal forgotPass-modal fade" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content sm-overlay-detail">
	      <div class="modal-header sm-overlay-head">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">FORGET PASSWORD</h4>
	      </div>
	      <div class="modal-body sm-overlay-body">
	      	<%= form_for :user, html: {class: "create-list-form studentMember-form dashboard-form"}, :url => user_password_path do |f| %>
	      		<div class="form-group">
			        <%= f.email_field :email, class: 'form-control sm-form-fields', placeholder: 'Email' %>
			      </div>
		        <%= f.submit 'Send Password Reset Instructions', class: 'btn blue-btn' %>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>
</header>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script type="text/javascript">
	// var $container = $('#container');
 //  $container.imagesLoaded( function(){
 //    $container.masonry({
 //      itemSelector : '.item',
 //      columnWidth : 202
 //    });
 //  });
</script>