<!DOCTYPE html>
<html>
  <head>
    <title>Droppingo</title>
    <link rel='shortcut icon' href='assets/favicon.png' type='image/x-icon'/ >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
        type="text/javascript"
        async defer
        src="//assets.pinterest.com/js/pinit.js"
    ></script>
    
  </head>

  <body>
    <%= render :partial => "layouts/header" %>
    <%= render 'toastr_rails/flash' %>
    <%= yield %>
    <%= render :partial => "layouts/footer" %>
  </body>

  <script type="text/javascript">
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": true,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "3000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    $(document).ready(function() {
      $('.overlay-message').click(function() {
        $('.overlay-message').toggle("slide");
      });
    });

  </script>

  



</html>
